html {
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 5vh 90vh 5vh;
    background: black;
    overflow: hidden;

}

body {
    position: relative;
    margin:0;
    padding:0;
    grid-row: 2;
    grid-column: 2;
    overflow: hidden;
    
    background-image: url('../img/murPortfolio.jpg');
    background-position: top right;
    background-size:80vw 78vh;
    background-repeat: no-repeat;

    &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 78vh;
        width: 10vw;
        background-image: url('../img/murPortfolio2.jpg');
        background-position: cover;
        background-size: 15vw 50vh;        
        transform-origin: right;
        transform: skewY(-25deg);
    }

    &::after {
        content:'';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 12vh;
        width: 80vw;
        background-image: url('../img/floor.jpg');
        background-position: cover;        
        transform-origin: top;
        transform: skewX(-65deg);
    }
}

#socket, label.socket {
    all: initial;
    position: absolute;
    height: 175px;
    width: 175px;
    top: 0%;
    left: 10vw;
}

label.socket {
    z-index: 10;
    cursor: pointer;
}

#socket {
    z-index: 5;
    background-image: url("../img/switch0.png");
    background-size: contain;
    cursor: pointer;

    &:hover {
        background-image: url("../img/switch1.png");
    }

    &:checked {
        background-image: url("../img/switch2.png");
    }

    // &:checked ~ , &:checked ~ , &:checked ~ , &:checked ~  {

    // }

    &:checked ~ #bulb {
        background-image: url("../img/lampe.png");
    }

    &:checked ~ #darkness {
        animation: main .5s linear .1s forwards;
    }
}

#darkness {
    position:relative;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.95);
    animation: intro 2s linear infinite;
}

@keyframes intro {
    @for $i from 0 through 5 {
        #{(10 * $i) + "%"} {
            background: radial-gradient(
                circle at calc(10vw + 205px) 40px, 
                rgba(0, 0, 0, (0.5 - (0.1 * $i))) 0%, 
                rgba(0, 0, 0, (0.95 - (0.05 * $i))) 7.5px, 
                rgba(0, 0, 0, (0.95 - (0.03 * $i))) (1% + 1.5% * $i), 
                rgba(0, 0, 0, 0.97) (16% + 2% * $i), 
                black 100%
            );
        }
    }

    @for $i from 0 through 5 {
        #{50 + (10 * $i) + "%"} {
            background: radial-gradient(
                circle at calc(10vw + 205px) 40px, 
                rgba(0, 0, 0, (0 + (0.01 * $i))) 0%, 
                rgba(0, 0, 0, (0.7 + (0.05 * $i))) 7.5px, 
                rgba(0, 0, 0, (0.8 + (0.03 * $i))) (16% -(1.5% * $i)), 
                rgba(0, 0, 0, 0.97) (36% -(2% * $i)), 
                black 100%
            );
        }
    }
}

@keyframes main {
    @for $i from 0 through 10 {
        #{(10 * $i) + "%"} {
            background: radial-gradient(
                circle at calc(10vw + 205px) 40px, 
                rgba(0, 0, 0, (0.75 - (0.075 * $i))) 0%, 
                rgba(0, 0, 0, (0.75 - (0.05 * $i))) (2% * $i), 
                rgba(0, 0, 0, (0.75 - (0.025 * $i))) (4% * $i), 
                rgba(0, 0, 0, 0.75) (6% * $i), 
                rgba(0, 0, 0, 0.9) (8% * $i), 
                black 100%
            );
        }
    }
}

#bulb {
    position: absolute;
    height: 60px;
    width: 60px;
    top:0px;
    left:calc(10vw + 175px);
    background-image: url("../img/lampe.gif");
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
    border-radius: 50%;

    &::before {
        position: absolute;
        content: '';
        height: 60px;
        width: 60px;
        top:0;
        background-image: url("../img/applique.png");
        background-size: contain;
        background-position: center;
        filter:brightness(1.5);
    }
}

header {
    position: absolute;
    margin:0;
    padding:0;
    top:0%;
    left:10vw;
    z-index: 5;    
    min-height: 78vh;
    min-width: 80vw ;

    #drawer {
        position:absolute;
        z-index: 5;
        bottom:-5vh;
        left:-5vh;
        background-image:url('../img/drawer.png');
        background-size: contain;
        background-repeat: no-repeat;
        height:32vh;
        width:20vh;
        transform-origin: bottom right;
    }
}

