
#APROPOS {
	//background-color: red;
	//background:url('../../divers/img/test.avif');
	//background-size: 100% 100%;
	//background-repeat: no-repeat;
	//background-position: 39.5vw 8.5vh;
	background:var(--portraitBG);
	background-size: 30% 80%;
	background-repeat: no-repeat;
	background-position: 37.85vw 9.5vh;
	grid-template-rows:9vh 35vh 25vh 9vh;
	grid-template-columns: 2vw 16vw 20vw 19vw 3vw;
}

#portrait {
	position: absolute;
	grid-row: 2;
	grid-column: 4;
	height: 35vh;
	width: 19vw;
	transform-style: preserve-3d;
	pointer-events: auto;
	clip-path: ellipse(18% 33% at 51% 29%);
	opacity: .7;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}