#APROPOS {
	display: grid;
	place-content: center!important;
}

#containerPortrait {
	position: relative;
	align-self: center;
	justify-self: center;
	height:600px;
	width: 350px;
	display: grid;
	place-content: center;
	transform: scale(var(--portraitScale));
}

#APROPOS #portraitBG {
	position: absolute;
	align-self: center;
	justify-self: center;
	height:100%;
	width: 100%;

	background:url('../../divers/img/fullBody.png');
	background-repeat: no-repeat;
	background-size: contain;
	
	cursor: pointer;
	&:hover {
		filter:brightness(2);
	}
}

#portrait {
	position: absolute;
	align-self: center;
	justify-self: center;
	z-index: 150;
	opacity: 0.7;

	height:100%;
	width: calc(100% / 7 * 6);
	transform-style: preserve-3d;
}