@import 'variables';

@media screen and (max-width: 1400px) and (min-width: 1000px) {
	//VIDE
}

@media screen and (max-width: 1000px) {
	:root {
		--bgX:115%!important;
		--bgY:120%!important;
		--bgPosY:33%!important;
	
	}

	body #containerHUD nav.gauche {
		grid-row: 1!important;
		grid-column: 1 / span 2!important;
		margin-left: 1vw;
		min-width:84vw!important;
		max-height:14vh!important;

		ul {
			min-height: 50px!important;
			height: 100%!important;	
			max-height: 75px!important;
			flex-direction: row!important;	
			justify-content: flex-start!important;
			transform: none!important;
			
			li {
				height:100%!important;
				margin-right: 1vw;
				background-color: var(--mainColor)!important;
				width:12vw;
				flex:none;

				&::before, 
				::after {
					background-color:rgb(29, 38, 42)!important;
				}

				&.clicked:not(.anim) {
					transform:translateZ(calc(-.33 * var(--menuProfondeur)))!important;
				}
			}
		}
	}

	body #containerHUD #containerView {
		grid-column: 1 / span 2;
		height: 78vh;
		margin-left: 1vw;
		width: 84vw;
		background-color: rgba(255, 0, 0, 0.479)!important;

		#APROPOS, #PORTFOLIO, #CURRICULUM, #COMPETENCES, #CONTACT {
			width: 84vw;

			#book {
				width:84vw;
			}
		}
	}

	#COMPETENCES > div:not(.skills .divers) {

		flex-direction: column!important;
		justify-content: space-between!important;

		article:not(.divers) {
			//background-color: red;
			margin:0!important;
			justify-content: center!important;
		}

		article {
			align-items: center!important;
		}

		&.php article div {
			display: flex;
			> h3 {
				margin-right:10px;
			}
		}
	}
}

@media screen and (max-width: 1000px) and (min-width: 800px)  {
	body #containerHUD nav.gauche {
		ul {
			li {

				font-size:1rem;
			}
		}
	}
}

@media screen and (max-width: 800px)  {
	body #containerHUD nav.gauche {
		ul {
			li {
				width:13vw;
				flex:none;
				font-size:1rem;
			}
		}
	}
}

html, body {
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
	font-family: 'amaranth';
	user-select: none;
}

#containerHUD, #containerView, #PORTFOLIO, #CURRICULUM, #book, #livre, #machine, ul, .tooltip, #portrait {//Pointers
    pointer-events: none;

	#containerAnim, #teleport, nav.gauche li, nav.droite li, #multivac, #portraitBG {
        pointer-events: auto;
    }
}

nav, ul, li {
    margin:0;
    padding: 0;
    list-style: none;
}

#animHUD {//BG DEPART
	position: absolute;
	z-index: 999;
	height: 100vh;
    width: 100vw;

	#cache {
		background:black;	
		height: 100vh;
		width: 100vw;

		animation: bienvenueCache .75s linear 2.25s forwards;
	}

	h1 {
		position: absolute;
		margin:0;
		padding:0;
		top:calc(50% - 5vw);
		right:50vw;
		height: 10vw;
		width: fit-content;

		display: grid;
		align-content:center;
		justify-content: start;
		font-size: 5vw;
		background: linear-gradient(to right, #55c6ee, #fff 25%, #55c6ee);
		background-clip: text;
		-webkit-text-fill-color: transparent;

		animation: bienvenueTexte 1.75s linear .5s forwards;
	}

	#startIcon {
		position: absolute;
		top:calc(50% - 5vw);
		right:45vw;
		height: 10vw;
		width:35vw;
		border-radius: 40% 0 0 40%;

		background: 
			url('../../divers/img/startIcon.png'), 
			black
		;
		background-position: right;
		background-size:contain;
		background-repeat: no-repeat;

		&::after {
			position: absolute;
			content: '';
			right:0;
			height: 10vw;
			width: 10vw;
			border-radius: 50%;
			box-sizing: border-box;
			border: 3px solid #55c6ee;
		}

		animation: bienvenueIcon 1.75s linear .5s forwards;
	}
}	

@keyframes bienvenueTexte {
	0% {
		transform: translateX(0vw);
	}
	50% {
		transform: translateX(20vw);
		opacity: 1;
	}
	80% {
		transform: translateX(20vw);
		opacity: 1;
	}
	90% {
		transform: translateX(20vw);
		visibility: visible;
		opacity: 0;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes bienvenueIcon {
	0% {
		width: translateX(0vw);
	}
	50% {
		transform: translateX(-11vw);
		opacity: 1;
	}
	80% {
		transform: translateX(-11vw);
		opacity: 1;
	}
	90% {
		transform: translateX(-11vw);
		visibility: visible;
		opacity: 0;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes bienvenueCache {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#containerHUD {//GRILLE PRINCIPALE DE LA PAGE
	height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url('../../divers/img/hudLight.jpg');
    background-position: var(--bgPosX) var(--bgPosY);    
    background-size: var(--bgX) var(--bgY);
		
    display:grid;
    grid-template-columns: 20vw 65vw 15vw;
    grid-template-rows: 14vh 78vh 8vh;

    perspective: 1000px;
    perspective-origin: center;

	#theme {
		height: 100vh;
		width: 100vw;

		&.dark:not(.start) {
			animation: darkTheme 1s linear forwards;
		}
		&.light:not(.start) {
			animation: lightTheme 1s linear forwards;
		}
	}
}

@keyframes darkTheme {
	from {
		background: url('../../divers/img/hudDark.jpg');
		background-position: var(--bgPosX) var(--bgPosY);    
		background-size: var(--bgX) var(--bgY);
		opacity: 0;
	}

	to {
		background: url('../../divers/img/hudDark.jpg');
		background-position: var(--bgPosX) var(--bgPosY);    
		background-size: var(--bgX) var(--bgY);
		opacity: 1;
	}
}

@keyframes lightTheme {
	from {
		background: url('../../divers/img/hudDark.jpg');
		background-position: var(--bgPosX) var(--bgPosY);    
		background-size: var(--bgX) var(--bgY);
		opacity: 1;
	}

	to {
		background: url('../../divers/img/hudDark.jpg');
		background-position: var(--bgPosX) var(--bgPosY);    
		background-size: var(--bgX) var(--bgY);
		opacity: 0;
	}
}

#multivac {//HAUT DROITE
	//background-color: rgba(255, 94, 0, 0.534);
	position: relative;
	grid-row: 1;
	grid-column: 3;
	justify-self: center;
	margin-right: 1vw;
	top:1vw;
	//overflow: hidden;
	display: grid;
	place-content: center;
	height: 12vh;
	min-height: 100px;
	max-height: 200px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	box-sizing: border-box;
	border:4px solid #55c6ee;

	clip-path: circle(0%);
	animation: departMulti 1s linear 2.5s forwards;

	cursor: pointer;

	&:hover .tooltip {
		opacity: 1;
	}

	#machine {
		position: absolute;
		z-index: 1000;
		display: block;
		height: 100%;
		width: 100%;
		background:center / contain no-repeat url('../../divers/img/startIcon.png');
	}

	#waitingMenu {
		position: absolute;
		align-self: center;
		justify-self: center;
		pointer-events: none;
		display: block;
		height: 95%;
		width: 95%;
		background-repeat: no-repeat;
		background-size: contain;
		cursor: initial;
	}

	.tooltip {
		opacity: 0;
		z-index: 1000;
		position:absolute;
		background-color: var(--subColor);
		display: grid;
		place-content: center;
		height: 25px;
		width: 100%;
		border-radius: 5px;
		border: 1px solid var(--fontLight);
		font-size: .8rem;
		font-family: 'amaranth';
		color:var(--fontLight);
		transition: opacity .3s;
		top:-1vw;
		right:0;

		&::before {
			content: '';
			position: absolute;
			height: 12px;
			width: 12px;
			bottom:-4px;
			left:calc(50% - 6px);
			transform: rotate(45deg);// translateY(7.5px);
			box-sizing: border-box;
			border-bottom:5px solid var(--subColor);
			border-right:5px solid var(--subColor);
			transition: opacity .3s;
		}

		&::after {
			content: '';
			position: absolute;
			height: 8px;
			width: 8px;
			bottom:-4px;
			left:calc(50% - 4px);
			transform: rotate(45deg);// translateY(7.5px);
			box-sizing: border-box;
			border-bottom:1px solid var(--fontLight);
			border-right:1px solid var(--fontLight);
			transition: opacity .3s;
		}
	}
}

@keyframes departMulti {
	from {
		clip-path: circle(0%);
	}
	to {
		clip-path: circle(100%);
	}
}

#containerHUD nav.gauche {// ROW:1&2 COL:1 (Mur de gauche)
    //background-color: rgba(0, 255, 255, 0.534);
	position:absolute;
	top:0;
	left:0;
    transform-style: preserve-3d;
    grid-row:1 / span 3;
    grid-column: 1;
    height: 100%;
    width:18vw;
	max-width: 400px;
	min-width: 200px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	//border:5px solid black;

	ul {
		//background-color: rgba(0, 255, 64, 0.534);
		position: relative;
		transform-style: preserve-3d;
		transform-origin: left;

		height: 75%;
		max-height:600px;

		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		transform: translateX(2vw) rotateY(80deg) translateZ(calc(var(--menuProfondeur)));
	}

	ul li {
		position: relative;
		transform-style: preserve-3d;
		cursor: pointer;

		height: 18%;
		width: 75%;
		
		text-transform: uppercase;
		color:var(--fontLight);
		background-color:var(--mainColorLight);


		display: grid;
		align-content: center;
		padding-left: 20px;
		margin-bottom: 2%;
		font-size:clamp(1.4rem, 2vw, 2.25rem);
		text-shadow: 
			-0.06rem 0rem 0 rgb(148, 163, 184), 
			-0.06rem 0.05rem 0 #0f172a, 
			-0.12rem 0.025rem 0 #94a3b8, 
			-0.12rem 0.075rem 0 #0f172a, 
			-0.18rem 0.05rem 0 #94a3b8, 
			-0.18rem 0.1rem 0 #0f172a, 
			-0.24rem 0.075rem 0 #94a3b8, 
			-0.24rem 0.125rem 0 #0f172a, 
			-0.3rem 0.1rem 0 #94a3b8, 
			-0.3rem 0.15rem 0 #0f172a
		;
		

		transition: transform var(--vitesseSortie)!important;

		&:hover:not(.anim) {
			transform: translateX(0px)!important;
			background-color:var(--mainColor1)!important;

			&::before,
			&::after {	
			background-color: var(--subColor)!important;
			}
		}

		&.clicked:not(.anim) {
			transform:translate3d(0, 0, 0) rotateY(var(--menuAngle)) translateX(10000px) scale(0)!important;
		}

		&::before {
			position: absolute;
			content: '';
			top:0;
			bottom:0;
			height: 100%;
			width: var(--menuProfondeur);
			background-color: var(--subColorLight);

			transform-origin: left;
			transform: rotateY(90deg);
		}

		&::after {
			position: absolute;
			content: '';
			top:0;
			bottom:0;
			height: var(--menuProfondeur);
			width: 100%;
			background-color: var(--subColorLight);

			transform-origin: top;
			transform: rotateX(-90deg);
		}
	}

	ul li .back {
		position: absolute;
		transform-style: preserve-3d;

		height: 100%;
		width: 100%;
		background-color: var(--subColorLight);

		//background-color: blue;
		box-sizing: border-box;
		border: 1px dotted black;

		transform-origin: left;
		transform: translate3d(0,0,calc(-1 * var(--menuProfondeur)));
	
		&::before {
			position: absolute;
			content: '';
			top:0;
			right:0;
			height: 100%;
			width: var(--menuProfondeur);
			background-color: var(--subColorLight);
			
			//background-color: green;
			box-sizing: border-box;
			border: 1px dotted black;

			transform-origin: right;
			transform: rotateY(90deg);
		}
	
		&::after {
			position: absolute;
			content: '';
			left:0;
			bottom:0;
			height: var(--menuProfondeur);
			width: 100%;
			background-color: var(--subColorLight);

			//background-color: red;
			box-sizing: border-box;
			border: 1px dotted black;

			transform-origin: bottom;
			transform: rotateX(-90deg);
		}
	}
}

#containerHUD nav.droite {//ROW:2et3 COL:3 (Mur de droite)

	//background-color: red;

    grid-row: 2 / span 2;
    grid-column: 3;
    position:relative;
    z-index: 100;
    height: 86vh;
    width:15vw;
	min-width: fit-content;

    display: none;
    grid-template-rows: repeat(5, 12vh) 1fr;
    grid-template-columns: 1fr;

	ul {
		//border: 2px solid aqua;

		justify-self: center;
		height: 78vh;
		width:14vw;
		margin-right: 1vw;

		display: grid;
		align-content: center;
		grid-template-rows: 10vh repeat(5, 12vh) 10vh;
		grid-template-columns: 1fr;

		li {
			all:initial;
			display: grid;
			align-content: center;
			min-height: 12vh;
			min-width: 13vw;
		}

		@for $i from 0 to 5 {
			li:nth-of-type(#{($i + 1)}) {
				grid-column: 1;
				grid-row: 2 + $i;
				//background-color: hsl(($i * 50), 100%, 50%);
			}
		}

		li .bouton-texte:not(.changementPage, .zoom), 
		li .bouton-texte .container-button-texte {

			align-self: center;

			margin:0;
			padding:0;
			min-height: 10vh;
			min-width:calc(2 * var(--rightNavFontSize))!important;

			display: grid;
			place-content: center;

			font-size: var(--rightNavFontSize);
			color: var(--mainColor3);

			// VARIABLES // 
			$iter-base: 26;
			$iter-hover: 22;
			$iter-active: 18;

			$step: .5px;

			$r-start:31;
			$r-end: 15;
			$g-start:162;
			$g-end: 23;
			$b-start:227;
			$b-end: 42;

			$shadow-base: "";
			$shadow-hover: "";
			$shadow-active: "";
			
			// PREPARATION DES OMBRES //
			@for $i from 1 through $iter-base {
				$x: $i * $step;
				$y: $i * $step * 0.75;
				$rouge: $r-end + ($r-start - $r-end) * (1 - (calc(($i - 1) / ($iter-base - 1))));
				$green: $g-end + ($g-start - $g-end) * (1 - (calc(($i - 1) / ($iter-base - 1))));
				$blue: $b-end + ($b-start - $b-end) * (1 - (calc(($i - 1) / ($iter-base - 1))));

				@if $i != 1 {
					$shadow-base: $shadow-base + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
				} @else {
					$shadow-base: inspect(0px 0px rgb(185, 232, 255)) + ", " + inspect(-1px -1px rgb(185, 232, 255)) + ", " + inspect(1px 1px rgb(185, 232, 255)) + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
				}
			}
			
			@for $i from 1 through $iter-hover {
				$x: $i * $step;
				$y: $i * $step * 0.75;
				$rouge: $r-end + ($r-start - $r-end) * (1 - (calc(($i - 1) / ($iter-hover - 1))));
				$green: $g-end + ($g-start - $g-end) * (1 - (calc(($i - 1) / ($iter-hover - 1))));
				$blue: $b-end + ($b-start - $b-end) * (1 - (calc(($i - 1) / ($iter-hover - 1))));

				@if $i != 1 {
				$shadow-hover: $shadow-hover + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
				} @else {
				$shadow-hover: inspect(0px 0px rgb(185, 232, 255)) + ", " + inspect(-1px -1px rgb(185, 232, 255)) + ", " + inspect(1px 1px rgb(185, 232, 255)) + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
				}
			}

			@for $i from 1 through $iter-active {
				$x: $i * $step;
				$y: $i * $step * 0.75;
				$rouge: $r-end + ($r-start - $r-end) * (1 - (calc(($i - 1) / ($iter-active - 1))));
				$green: $g-end + ($g-start - $g-end) * (1 - (calc(($i - 1) / ($iter-active - 1))));
				$blue: $b-end + ($b-start - $b-end) * (1 - (calc(($i - 1) / ($iter-active - 1))));

				@if $i != 1 {
				$shadow-active: $shadow-active + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
				} @else {
				$shadow-active: inspect(0px 0px rgb(185, 232, 255)) + ", " + inspect(-1px -1px rgb(185, 232, 255)) + ", " + inspect(1px 1px rgb(185, 232, 255)) + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
				}
			}
			
			// AJOUT DES OMBRES //
			i {
				text-shadow: $shadow-base;
				transform:translate(0,0);
				transition: opacity .5s;
				cursor: pointer;
				width: fit-content;

				&:not(.fa-arrow-rotate-right):hover {
					text-shadow: $shadow-hover;
					transform: translate(2px, 1.5px);
				}

				&:not(.fa-arrow-rotate-right):active {
					text-shadow: $shadow-active;
					transform: translate(4px, 3px);
				}

				&:hover ~ span:first-of-type {
					opacity:1;
				}
			}

			i:hover:not(.fa-arrow-rotate-right) {
				text-shadow: $shadow-hover;
				transform: translate(2px, 1.5px);
			}

			i:active:not(.fa-arrow-rotate-right) {
				text-shadow: $shadow-active;
				transform: translate(4px, 3px);
			}

			&:not(.anim, .closed) .fa-arrow-rotate-right:hover {
				transform: rotate(15deg);
			}

			&.anim .fa-arrow-rotate-right:hover {
				cursor: not-allowed;
			}
		}

		
		#rotationStandIcon.open {
			&.anim i {
				animation: iconTurn 5s linear infinite;
			}
		}

		.bouton-texte.changementPage,
		.bouton-texte.zoom {
			display:flex!important;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;

			.container-button-texte {
				min-width:calc(2 * var(--rightNavFontSize))!important;
			}

			.container-button-texte.pagePrecedente {
				transform: rotateY(-180deg);
			}
		}

		#infosBook,
		#infosSkills,
		#infosContact,
		#infosAbout {
			cursor:help!important;
		}

		// li.droite {
		// 	background-color: red;
		// }

		// .bouton-texte {
		// 	border: 2px solid aqua;
		// }

		.bouton-texte .tooltip {
			opacity: 0;
			z-index: 200;
			position:absolute;
			background-color: var(--subColor);
			display: grid;
			place-content: center;
			height: 25px;
			width: 150px;
			border-radius: 5px;
			border: 1px solid var(--fontLight);
			font-size: .8rem;
			font-family: 'amaranth';
			color:var(--fontLight);
			top:calc(50% - var(--rightNavFontSize) / 2  - 42.5px);
			transition: opacity .3s;
			
			&:not(.duo) {
				left:calc(50% - 75px);
			}
			&.duo-left {
				left:calc(50% - 75px - var(--rightNavFontSize));
			}
			&.duo-right {
				left:calc(50% - 75px + var(--rightNavFontSize));
			}

			&::before {
				content: '';
				position: absolute;
				height: 12px;
				width: 12px;
				bottom:-4px;
				left:calc(50% - 6px);
				transform: rotate(45deg);// translateY(7.5px);
				box-sizing: border-box;
				border-bottom:5px solid var(--subColor);
				border-right:5px solid var(--subColor);
				transition: opacity .3s;
			}

			&::after {
				content: '';
				position: absolute;
				height: 8px;
				width: 8px;
				bottom:-4px;
				left:calc(50% - 4px);
				transform: rotate(45deg);// translateY(7.5px);
				box-sizing: border-box;
				border-bottom:1px solid var(--fontLight);
				border-right:1px solid var(--fontLight);
				transition: opacity .3s;
			}
		}

		#pixelize {
			i {
				align-self: center;
				justify-self: center;
				position: absolute;
			}

			.fa-skull-crossbones {//Icone tete de mort
				z-index: 110;
			}

			.fa-user {//Icone utilisateur
				opacity: 0;
				z-index: 100;
			}

			&.closed .fa-skull-crossbones {
				opacity: 0;
			}
			
			&.closed .fa-user {
				opacity: 1;
			}
		}

		#openBook {
			i {
				align-self: center;
				justify-self: center;
				position: absolute;
			}

			.fa-book {//Icone livre fermé
				z-index: 110;
			}

			.fa-book-open {//Icone livre ouvert
				opacity: 0;
				z-index: 100;
			}

			&.closed .fa-book {
				opacity: 0;
			}
			
			&.closed .fa-book-open {
				opacity: 1;
			}
		}

		#openStandIcon {
			transform: rotate(-45deg);
			span {
				transform: translateX(var(--rightNavFontSize)) rotate(45deg) translateY(.75rem);
			}

			i {
				align-self: center;
				justify-self: center;
				position: absolute;
			}

			.fa-down-left-and-up-right-to-center {//Icone compress
				z-index: 110;
			}

			.fa-up-right-and-down-left-from-center {//Icone expand
				opacity: 0;
				z-index: 100;
			}

			&.closed .fa-down-left-and-up-right-to-center {
				opacity: 0;
			}
			
			&.closed .fa-up-right-and-down-left-from-center {
				opacity: 1;
			}
		}
	}
}

// ON CACHE LA NAV DROITE //
html body #containerHUD nav.droite ul li {
    > * {
        position: absolute;
        align-self: center;
        justify-self: center;
        //z-index: 10;
        visibility: hidden;
    }
}

#containerView {// ROW:2 COL:2 (Hublot central)
	//border:2px solid black;
    visibility: visible;
    transform-style: preserve-3d;
    grid-row:2;
    grid-column: 2;
    height: 78vh;
    width: 65vw;

	.hidden {
    display:none!important;
	}

	.main {
		transform-style:preserve-3d ;
		position: relative;
		z-index: 10;
		height:78vh;
		width: 65vw;
	}

	#APROPOS,
	#PORTFOLIO,
	#CURRICULUM,
	#COMPETENCES,
	#CONTACT {
		visibility: visible!important;
		display: grid;
		align-content: center;
		text-align: center;
	}
}

#modal {// POSITION ABSOLUTE
    display:none;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    height:100vh;
    width:100vw;
	font-family: 'baskerville';

	#exitModal {
		all:initial;
		display: none;
		place-content: center;
		font-size: 2rem;
		position: fixed;
		z-index: 700;
		top: 10px;
		right : 50px;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		border: .3rem solid black;
		cursor: pointer;
	}

	#backgroundModal {
		position: absolute;
		z-index: 500;
		height:100vh;
		width:100vw;
		background-color:var(--subColorLight);
		backdrop-filter: blur(2px);
		cursor:crosshair;
	}

	#containerModal {
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 600;
		align-self: center;
		justify-self: center;
		padding:20px;
		height:70vh;
		width:calc(70vw - 20px);
		min-width: 400px;
		background-color:var(--mainColor3);
		overflow: scroll;

		h1 {
			font-size:clamp(2rem, 2.8vw, 2.75rem);
			margin-bottom:10px;
		}
		h3 {
			font-size:clamp(1.5rem, 2.2vw, 2.25rem);
			margin-bottom:5px;
		}
		p {
			font-size:clamp(1rem, 2vw, 1.75rem);
		}

		#captcha {
			display: none;
			position: relative;
			flex-direction: column;
			width:100%;
			height: 50vh;
			row-gap: 20px;
			align-content: center;
			justify-content: space-around;

			#captchaImg {
				align-self: center;
				min-width:400px;
				max-width:400px;
				min-height:160px;
				max-height:160px;

				border: 2px solid black;;
			}

			div {
				display: flex;
				flex-direction: row;
				justify-content: center;
				column-gap: 20px;
				align-items: center;
				height: 100%;
				width: 100%;

				input {
					all:initial;
					border:none;
					border-bottom: 2px solid var(--mainColor3);
					padding-left:3px;
					background:var(--mainColor1)!important;
					height:30px;
					width:40%;
					cursor: text!important;
				}

				button {
					height: 50px;
					width: 100px;
					cursor: pointer;
				}
			}

		}
	}   
}