:root {
  --bgX:100%;
  --bgY:130%;
  --bgPosX: right;
  --bgPosY: center;
  --menuProfondeur:75px;
  --ignitionDegree: 20deg;
  --vitesseEntree:3s;
  --vitesseSortie:2s;
  --rightNavFontSize:clamp(2rem, 3vw, 3.25rem);
  --multivac:100px;
  --bookBorder:rgb(50, 50, 50);
  --fontLight:#fff;
  --mainColor:rgb(17, 126, 181);
  --mainColor1:rgb(31, 162, 227);
  --mainColor2:rgb(31, 162, 227);
  --mainColor3:rgb(20, 172, 249);
  --mainColor4:rgb(108, 221, 255);
  --mainColor5:rgb(20, 172, 249);
  --subColor:rgb(70, 70, 80);
  --blurColor1:rgba(1,1,1, 0.1);
  --blurColor2:rgba(10,10,10, 0.25);
  --blurColor3:rgba(15,15,15, 0.5);
  --blackLight:rgba(0,0,0, 0.75);
  --blackLight2:rgba(10,10,10, 0.5);
  --subColorLight: rgba(70, 70, 80, 0.5);
  --mainColorLight:rgba(17, 106, 181, 0.4);
  --mainColor5Light:rgba(13, 95, 160, 0.4);
  --mainColor4Light:rgba(108, 221, 255, 0.2);
  --standLargeur:clamp(30vw, 70vh, 60vw);
  --standLargeurInt:calc(12/21 * (var(--standLargeur)));
  --standEpaisseur:calc(2/21 * (var(--standLargeur)));
  --hMult:8 / 7;
  --standHauteur:78vh;
  --inclinaisonCV:90deg;
  --imageG1:url("../../divers/img/pf-coiffure.jpg");
  --imageG2:url("../../divers/img/pf-coiffure-specs.jpg");
  --imageM1:url("../../divers/img/pf-rando.jpg");
  --imageM2:url("../../divers/img/pf-rando-specs.jpg");
  --imageD1:url("../../divers/img/pf-maison.jpg");
  --imageD2:url("../../divers/img/pf-maison-specs.jpg");
  --livreLargeur:clamp(0px, 60vh, 37vw);
  --zoomLivre:-12vw;
  --inclinaisonLivre:-6deg;
  --rotationLivre:40deg;
  --justifyLivre:-2vw;
  --alignLivre:-8vh;
  --bookFront:var(--bookBorder);
  --gapLivre:5px;
  --vitessePage:1.6s;
  --progressSize:clamp(70px, 15vw, 13vh);
  --portraitBG:url("../../divers/img/buste.png");
  --portraitScale:1;
}

/* ---- POLICES ---- */
@media all {
  @font-face {
    font-family: "baskerville";
    src: url("../../divers/fonts/baskervilleRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "baskerville";
    src: url("../../divers/fonts/baskervilleBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "baskerville";
    src: url("../../divers/fonts/baskervilleItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "amaranth";
    src: url("../../divers/fonts/amaranthRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "amaranth";
    src: url("../../divers/fonts/amaranthBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "amaranth";
    src: url("../../divers/fonts/amaranthItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "amaranth";
    src: url("../../divers/fonts/amaranthBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
}
code {
  font-family: monospace;
  color: black;
  background-color: var(--mainColor1);
  padding: 0.1em;
}

@media screen and (max-width: 1000px) {
  :root {
    --bgPosY:50%!important;
    --livreLargeur:clamp(0px, 60vw, 80vh);
    --standLargeur:clamp(0px, 72vh, 70vw);
    --standHauteur:60vh;
    --progressSize:clamp(70px, 20vw, 10.5vh);
  }
  body #containerHUD {
    grid-template-columns: 2.5vw 84vw 13.5vw;
    grid-template-rows: 14vh 70vh 16vh;
  }
  body #containerHUD #containerView {
    grid-column: 1/span 2;
    grid-row: 2;
    height: 70vh;
    margin-left: 2.5vw;
    width: 95vw;
  }
  body #containerHUD #containerView #APROPOS, body #containerHUD #containerView #PORTFOLIO, body #containerHUD #containerView #CURRICULUM, body #containerHUD #containerView #COMPETENCES, body #containerHUD #containerView #CONTACT {
    width: 95vw;
    height: 70vh;
  }
  body #containerHUD #containerView #APROPOS #book, body #containerHUD #containerView #PORTFOLIO #book, body #containerHUD #containerView #CURRICULUM #book, body #containerHUD #containerView #COMPETENCES #book, body #containerHUD #containerView #CONTACT #book {
    width: 95vw;
  }
  body #containerHUD #multivac {
    margin-right: 20px;
    top: calc(7vh - 40px);
    min-height: 80px;
    max-height: 80px;
  }
  body #containerHUD nav.gauche {
    grid-row: 1;
    grid-column: 1/span 2;
    margin-left: 1vw;
    min-width: 84vw;
    max-height: 14vh;
  }
  body #containerHUD nav.gauche ul {
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transform: none !important;
  }
  body #containerHUD nav.gauche ul li {
    margin-right: 1vw;
    height: 60px !important;
    width: 15vw;
    background-color: var(--mainColor) !important;
    flex: none;
    padding-left: 0;
    text-align: center;
    font-size: 2.2vw;
    font-weight: bold;
    text-shadow: none;
    transition: transform 0s !important;
  }
  body #containerHUD nav.gauche ul li::before,
  body #containerHUD nav.gauche ul li ::after {
    background-color: rgb(29, 38, 42) !important;
  }
  body #containerHUD nav.gauche ul li.clicked:not(.anim) {
    transform: translateZ(calc(-0.33 * var(--menuProfondeur))) !important;
  }
  body #containerHUD nav.droite {
    grid-row: 3;
    grid-column: 1/span 3;
    width: 100vw;
    height: 16vh;
  }
  body #containerHUD nav.droite ul {
    align-self: flex-start;
    padding: 0 25px;
    width: calc(100% - 50px);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*
    li > div:nth-child(3), label:nth-child(3) {
    	//background-color: red;
    	//top:-10vh;
    }
    */
  }
  body #containerHUD nav.droite ul li > div i, body #containerHUD nav.droite ul label i {
    color: var(--mainColor5) !important;
  }
  body #containerHUD nav.droite ul li > div:nth-child(2), body #containerHUD nav.droite ul label:nth-child(2) {
    top: -3.5rem;
  }
  body #containerHUD nav.droite ul li > div, body #containerHUD nav.droite ul li label {
    flex-direction: column !important;
  }
  body #containerHUD nav.droite ul li > div > div:nth-of-type(1), body #containerHUD nav.droite ul li label > div:nth-of-type(1) {
    min-height: 3.5rem !important;
  }
  body #containerHUD nav.droite ul li > div > div:nth-of-type(1) span:nth-of-type(1), body #containerHUD nav.droite ul li label > div:nth-of-type(1) span:nth-of-type(1) {
    top: -1.75rem !important;
    left: calc(50% - 75px) !important;
  }
  body #containerHUD nav.droite ul li > div > div:nth-of-type(1) span:nth-of-type(2), body #containerHUD nav.droite ul li label > div:nth-of-type(1) span:nth-of-type(2) {
    top: 1.75rem !important;
    left: calc(50% - 75px) !important;
  }
  body #containerHUD nav.droite ul li > div > div:nth-of-type(2), body #containerHUD nav.droite ul li label > div:nth-of-type(2) {
    min-height: 3.5rem !important;
  }
  body #containerHUD nav.droite ul li > div > div:nth-of-type(2) span, body #containerHUD nav.droite ul li label > div:nth-of-type(2) span {
    top: 1.75rem !important;
    left: calc(50% - 75px) !important;
  }
  body #containerHUD #APROPOS {
    grid-template-rows: 35vw calc(100% - 35vw);
  }
  body #containerHUD #APROPOS #aboutPortrait {
    grid-column: 2/span 2 !important;
    top: 0;
  }
  body #containerHUD #APROPOS #aboutTexte {
    position: relative;
    margin-left: 30px;
    width: 15px !important;
    max-height: calc(75vh - 35vw - 40px);
    min-height: 80px;
    top: -5vh;
  }
  body #containerHUD #APROPOS #aboutTexte:hover {
    width: calc(88vw - 40px) !important;
  }
  body #containerHUD #APROPOS i {
    left: 0.75rem;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
  }
  body #containerHUD #APROPOS span {
    left: 0.25rem;
    font-size: clamp(0.9rem, 3vh, 1.75rem);
  }
  body #containerHUD #APROPOS p {
    padding: 0px;
    padding-left: 40px;
    max-height: calc(75vh - 35vw - 40px);
    min-height: 80px;
    width: calc(85vw - 40px);
    letter-spacing: 0.1rem;
    font-size: clamp(0.7rem, 2vh, 1.5rem);
  }
  body #containerHUD #COMPETENCES {
    grid-template-rows: 16vh 1vh 16vh 1vh 16vh 1vh 19vh;
    grid-template-columns: 0vw 46vw 3vw 46vw 0vw;
  }
  body #containerHUD #COMPETENCES > div {
    height: 16vh;
    width: 46vw;
  }
  body #containerHUD #COMPETENCES > div.divers {
    min-width: 95vw;
    height: 19vh;
  }
  body #containerHUD #COMPETENCES > div.divers article h1 {
    font-size: clamp(1.5rem, 4vw, 3vh);
  }
  body #containerHUD #COMPETENCES > div.divers article h3 {
    font-size: clamp(0.85rem, 3vw, 2.5vh);
  }
  body #containerHUD #COMPETENCES > div:not(.divers) {
    min-width: 40vw;
  }
  body #containerHUD #COMPETENCES > div:not(.skills .divers) {
    flex-direction: column;
    justify-content: space-between;
  }
  body #containerHUD #COMPETENCES > div:not(.skills .divers) article:not(.divers) {
    margin: 0;
    justify-content: center;
  }
  body #containerHUD #COMPETENCES > div:not(.skills .divers) article {
    align-items: center;
  }
  body #containerHUD #COMPETENCES > div:not(.skills .divers).php article div {
    display: flex;
  }
  body #containerHUD #COMPETENCES > div:not(.skills .divers).php article div > h3 {
    margin-right: 10px;
  }
  body #containerHUD #CONTACT {
    grid-template-columns: 19vw 57vw 19vw;
    grid-template-rows: 14vh 42vh 14vh;
    /*
    #headerContact {

    }
    #screenContact {

    }
    #footerContact {

    }
    */
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "amaranth";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#containerHUD, #containerView, #PORTFOLIO, #CURRICULUM, #book, #livre, #machine, ul, .tooltip, #portrait {
  pointer-events: none;
}
#containerHUD #containerAnim, #containerHUD #teleport, #containerHUD nav.gauche li, #containerHUD nav.droite li, #containerHUD #multivac, #containerHUD #aboutPortrait, #containerHUD #aboutTexte, #containerView #containerAnim, #containerView #teleport, #containerView nav.gauche li, #containerView nav.droite li, #containerView #multivac, #containerView #aboutPortrait, #containerView #aboutTexte, #PORTFOLIO #containerAnim, #PORTFOLIO #teleport, #PORTFOLIO nav.gauche li, #PORTFOLIO nav.droite li, #PORTFOLIO #multivac, #PORTFOLIO #aboutPortrait, #PORTFOLIO #aboutTexte, #CURRICULUM #containerAnim, #CURRICULUM #teleport, #CURRICULUM nav.gauche li, #CURRICULUM nav.droite li, #CURRICULUM #multivac, #CURRICULUM #aboutPortrait, #CURRICULUM #aboutTexte, #book #containerAnim, #book #teleport, #book nav.gauche li, #book nav.droite li, #book #multivac, #book #aboutPortrait, #book #aboutTexte, #livre #containerAnim, #livre #teleport, #livre nav.gauche li, #livre nav.droite li, #livre #multivac, #livre #aboutPortrait, #livre #aboutTexte, #machine #containerAnim, #machine #teleport, #machine nav.gauche li, #machine nav.droite li, #machine #multivac, #machine #aboutPortrait, #machine #aboutTexte, ul #containerAnim, ul #teleport, ul nav.gauche li, ul nav.droite li, ul #multivac, ul #aboutPortrait, ul #aboutTexte, .tooltip #containerAnim, .tooltip #teleport, .tooltip nav.gauche li, .tooltip nav.droite li, .tooltip #multivac, .tooltip #aboutPortrait, .tooltip #aboutTexte, #portrait #containerAnim, #portrait #teleport, #portrait nav.gauche li, #portrait nav.droite li, #portrait #multivac, #portrait #aboutPortrait, #portrait #aboutTexte {
  pointer-events: auto;
}

nav, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#animHUD {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100vw;
}
#animHUD #cache {
  background: black;
  height: 100vh;
  width: 100vw;
  animation: bienvenueCache 0.75s linear 2.25s forwards;
}
#animHUD h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: calc(50% - 5vw);
  right: 50vw;
  height: 10vw;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  align-content: center;
  justify-content: start;
  font-size: 5vw;
  background: linear-gradient(to right, #55c6ee, #fff 25%, #55c6ee);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bienvenueTexte 1.75s linear 0.5s forwards;
}
#animHUD #startIcon {
  position: absolute;
  top: calc(50% - 5vw);
  right: 45vw;
  height: 10vw;
  width: 45vw;
  background: url("../../divers/img/startIcon.png"), black;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  animation: bienvenueIcon 1.75s linear 0.5s forwards;
}
#animHUD #startIcon::after {
  position: absolute;
  content: "";
  right: 0;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #55c6ee;
}

@keyframes bienvenueTexte {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(20vw);
    opacity: 1;
  }
  80% {
    transform: translateX(20vw);
    opacity: 1;
  }
  90% {
    transform: translateX(20vw);
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bienvenueIcon {
  0% {
    width: translateX(0vw);
  }
  50% {
    transform: translateX(-11vw);
    opacity: 1;
  }
  80% {
    transform: translateX(-11vw);
    opacity: 1;
  }
  90% {
    transform: translateX(-11vw);
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bienvenueCache {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#containerHUD {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../../divers/img/hudLight.jpg");
  background-position: var(--bgPosX) var(--bgPosY);
  background-size: var(--bgX) var(--bgY);
  display: grid;
  grid-template-columns: 20vw 65vw 15vw;
  grid-template-rows: 14vh 78vh 8vh;
  perspective: 1000px;
  perspective-origin: center;
}
#containerHUD #theme {
  height: 100vh;
  width: 100vw;
  background: url("../../divers/img/hudDark.jpg");
  background-position: var(--bgPosX) var(--bgPosY);
  background-size: var(--bgX) var(--bgY);
  opacity: 1;
}
#containerHUD #theme.dark:not(.start) {
  animation: darkTheme 1s linear forwards;
}
#containerHUD #theme.light:not(.start) {
  animation: lightTheme 1s linear forwards;
}

@keyframes darkTheme {
  from {
    background: url("../../divers/img/hudDark.jpg");
    background-position: var(--bgPosX) var(--bgPosY);
    background-size: var(--bgX) var(--bgY);
    opacity: 0;
  }
  to {
    background: url("../../divers/img/hudDark.jpg");
    background-position: var(--bgPosX) var(--bgPosY);
    background-size: var(--bgX) var(--bgY);
    opacity: 1;
  }
}
@keyframes lightTheme {
  from {
    background: url("../../divers/img/hudDark.jpg");
    background-position: var(--bgPosX) var(--bgPosY);
    background-size: var(--bgX) var(--bgY);
    opacity: 1;
  }
  to {
    background: url("../../divers/img/hudDark.jpg");
    background-position: var(--bgPosX) var(--bgPosY);
    background-size: var(--bgX) var(--bgY);
    opacity: 0;
  }
}
#multivac {
  position: relative;
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
  margin-right: 1vw;
  top: 1vw;
  height: 12vh;
  min-height: 100px;
  max-height: 200px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #55c6ee;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  animation: departMulti 1s linear 2.5s forwards;
  cursor: pointer;
}
#multivac:hover .tooltip {
  opacity: 1;
}
#multivac #machine {
  position: absolute;
  z-index: 1000;
  display: block;
  height: 100%;
  width: 100%;
  background: center/contain no-repeat url("../../divers/img/startIcon.png");
}
#multivac #waitingMenu {
  position: absolute;
  align-self: center;
  justify-self: center;
  pointer-events: none;
  display: block;
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: initial;
}
#multivac .tooltip {
  opacity: 0;
  z-index: 1000;
  position: absolute;
  background-color: var(--subColor);
  display: grid;
  place-content: center;
  height: 25px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--fontLight);
  font-size: 0.8rem;
  font-family: "amaranth";
  color: var(--fontLight);
  transition: opacity 0.3s;
  top: -1vw;
  right: 0;
}
#multivac .tooltip::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  bottom: -4px;
  left: calc(50% - 6px);
  transform: rotate(45deg);
  box-sizing: border-box;
  border-bottom: 5px solid var(--subColor);
  border-right: 5px solid var(--subColor);
  transition: opacity 0.3s;
}
#multivac .tooltip::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  bottom: -4px;
  left: calc(50% - 4px);
  transform: rotate(45deg);
  box-sizing: border-box;
  border-bottom: 1px solid var(--fontLight);
  border-right: 1px solid var(--fontLight);
  transition: opacity 0.3s;
}

@keyframes departMulti {
  from {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  to {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}
#containerHUD nav.gauche {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  grid-row: 1/span 3;
  grid-column: 1;
  height: 100%;
  width: 18vw;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#containerHUD nav.gauche ul {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: left;
  height: 75%;
  max-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(2vw) rotateY(80deg) translateZ(calc(var(--menuProfondeur)));
}
#containerHUD nav.gauche ul li {
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  height: 18%;
  width: 75%;
  text-transform: uppercase;
  color: var(--fontLight);
  background-color: var(--mainColorLight);
  display: grid;
  align-content: center;
  padding-left: 20px;
  margin-bottom: 2%;
  font-size: clamp(1.4rem, 2vw, 2rem);
  text-shadow: -0.06rem 0rem 0 rgb(148, 163, 184), -0.06rem 0.05rem 0 #0f172a, -0.12rem 0.025rem 0 #94a3b8, -0.12rem 0.075rem 0 #0f172a, -0.18rem 0.05rem 0 #94a3b8, -0.18rem 0.1rem 0 #0f172a, -0.24rem 0.075rem 0 #94a3b8, -0.24rem 0.125rem 0 #0f172a, -0.3rem 0.1rem 0 #94a3b8, -0.3rem 0.15rem 0 #0f172a;
  transition: transform var(--vitesseSortie) !important;
}
#containerHUD nav.gauche ul li:hover:not(.anim) {
  transform: translateX(0px) !important;
  background-color: var(--mainColor1) !important;
}
#containerHUD nav.gauche ul li:hover:not(.anim)::before, #containerHUD nav.gauche ul li:hover:not(.anim)::after {
  background-color: var(--subColor) !important;
}
#containerHUD nav.gauche ul li.clicked:not(.anim) {
  transform: translate3d(0, 0, 0) rotateY(var(--menuAngle)) translateX(10000px) scale(0) !important;
}
#containerHUD nav.gauche ul li::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 100%;
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: rotateY(90deg);
}
#containerHUD nav.gauche ul li::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: 100%;
  background-color: var(--subColorLight);
  transform-origin: top;
  transform: rotateX(-90deg);
}
#containerHUD nav.gauche ul li .back {
  position: absolute;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  background-color: var(--subColorLight);
  box-sizing: border-box;
  border: 1px dotted black;
  transform-origin: left;
  transform: translate3d(0, 0, calc(-1 * var(--menuProfondeur)));
}
#containerHUD nav.gauche ul li .back::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  box-sizing: border-box;
  border: 1px dotted black;
  transform-origin: right;
  transform: rotateY(90deg);
}
#containerHUD nav.gauche ul li .back::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: 100%;
  background-color: var(--subColorLight);
  box-sizing: border-box;
  border: 1px dotted black;
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

#containerHUD nav.droite {
  grid-row: 2/span 2;
  grid-column: 3;
  position: relative;
  z-index: 100;
  height: 86vh;
  width: 15vw;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: none;
  grid-template-rows: repeat(5, 12vh) 1fr;
  grid-template-columns: 1fr;
}
#containerHUD nav.droite ul {
  justify-self: center;
  height: 78vh;
  width: 14vw;
  margin-right: 1vw;
  display: grid;
  align-content: center;
  grid-template-rows: 10vh repeat(5, 12vh) 10vh;
  grid-template-columns: 1fr;
}
#containerHUD nav.droite ul li {
  all: initial;
  display: grid;
  align-content: center;
  min-height: 12vh;
  min-width: 13vw;
}
#containerHUD nav.droite ul li:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}
#containerHUD nav.droite ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}
#containerHUD nav.droite ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 4;
}
#containerHUD nav.droite ul li:nth-of-type(4) {
  grid-column: 1;
  grid-row: 5;
}
#containerHUD nav.droite ul li:nth-of-type(5) {
  grid-column: 1;
  grid-row: 6;
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom),
#containerHUD nav.droite ul li .bouton-texte .container-button-texte {
  align-self: center;
  margin: 0;
  padding: 0;
  min-height: 10vh;
  min-width: calc(2 * var(--rightNavFontSize)) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--rightNavFontSize);
  color: var(--mainColor3);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.36, 156.44, 219.6), 1.5px 1.125px rgb(29.72, 150.88, 212.2), 2px 1.5px rgb(29.08, 145.32, 204.8), 2.5px 1.875px rgb(28.44, 139.76, 197.4), 3px 2.25px rgb(27.8, 134.2, 190), 3.5px 2.625px rgb(27.16, 128.64, 182.6), 4px 3px rgb(26.52, 123.08, 175.2), 4.5px 3.375px rgb(25.88, 117.52, 167.8), 5px 3.75px rgb(25.24, 111.96, 160.4), 5.5px 4.125px rgb(24.6, 106.4, 153), 6px 4.5px rgb(23.96, 100.84, 145.6), 6.5px 4.875px rgb(23.32, 95.28, 138.2), 7px 5.25px rgb(22.68, 89.72, 130.8), 7.5px 5.625px rgb(22.04, 84.16, 123.4), 8px 6px rgb(21.4, 78.6, 116), 8.5px 6.375px rgb(20.76, 73.04, 108.6), 9px 6.75px rgb(20.12, 67.48, 101.2), 9.5px 7.125px rgb(19.48, 61.92, 93.8), 10px 7.5px rgb(18.84, 56.36, 86.4), 10.5px 7.875px rgb(18.2, 50.8, 79), 11px 8.25px rgb(17.56, 45.24, 71.6), 11.5px 8.625px rgb(16.92, 39.68, 64.2), 12px 9px rgb(16.28, 34.12, 56.8), 12.5px 9.375px rgb(15.64, 28.56, 49.4), 13px 9.75px rgb(15, 23, 42);
  transform: translate(0, 0);
  transition: opacity 0.5s;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:not(.fa-arrow-rotate-right):hover,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:not(.fa-arrow-rotate-right):hover {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.2380952381, 155.380952381, 218.1904761905), 1.5px 1.125px rgb(29.4761904762, 148.7619047619, 209.380952381), 2px 1.5px rgb(28.7142857143, 142.1428571429, 200.5714285714), 2.5px 1.875px rgb(27.9523809524, 135.5238095238, 191.7619047619), 3px 2.25px rgb(27.1904761905, 128.9047619048, 182.9523809524), 3.5px 2.625px rgb(26.4285714286, 122.2857142857, 174.1428571429), 4px 3px rgb(25.6666666667, 115.6666666667, 165.3333333333), 4.5px 3.375px rgb(24.9047619048, 109.0476190476, 156.5238095238), 5px 3.75px rgb(24.1428571429, 102.4285714286, 147.7142857143), 5.5px 4.125px rgb(23.380952381, 95.8095238095, 138.9047619048), 6px 4.5px rgb(22.619047619, 89.1904761905, 130.0952380952), 6.5px 4.875px rgb(21.8571428571, 82.5714285714, 121.2857142857), 7px 5.25px rgb(21.0952380952, 75.9523809524, 112.4761904762), 7.5px 5.625px rgb(20.3333333333, 69.3333333333, 103.6666666667), 8px 6px rgb(19.5714285714, 62.7142857143, 94.8571428571), 8.5px 6.375px rgb(18.8095238095, 56.0952380952, 86.0476190476), 9px 6.75px rgb(18.0476190476, 49.4761904762, 77.2380952381), 9.5px 7.125px rgb(17.2857142857, 42.8571428571, 68.4285714286), 10px 7.5px rgb(16.5238095238, 36.2380952381, 59.619047619), 10.5px 7.875px rgb(15.7619047619, 29.619047619, 50.8095238095), 11px 8.25px rgb(15, 23, 42);
  transform: translate(2px, 1.5px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:not(.fa-arrow-rotate-right):active,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:not(.fa-arrow-rotate-right):active {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.0588235294, 153.8235294118, 216.1176470588), 1.5px 1.125px rgb(29.1176470588, 145.6470588235, 205.2352941176), 2px 1.5px rgb(28.1764705882, 137.4705882353, 194.3529411765), 2.5px 1.875px rgb(27.2352941176, 129.2941176471, 183.4705882353), 3px 2.25px rgb(26.2941176471, 121.1176470588, 172.5882352941), 3.5px 2.625px rgb(25.3529411765, 112.9411764706, 161.7058823529), 4px 3px rgb(24.4117647059, 104.7647058824, 150.8235294118), 4.5px 3.375px rgb(23.4705882353, 96.5882352941, 139.9411764706), 5px 3.75px rgb(22.5294117647, 88.4117647059, 129.0588235294), 5.5px 4.125px rgb(21.5882352941, 80.2352941176, 118.1764705882), 6px 4.5px rgb(20.6470588235, 72.0588235294, 107.2941176471), 6.5px 4.875px rgb(19.7058823529, 63.8823529412, 96.4117647059), 7px 5.25px rgb(18.7647058824, 55.7058823529, 85.5294117647), 7.5px 5.625px rgb(17.8235294118, 47.5294117647, 74.6470588235), 8px 6px rgb(16.8823529412, 39.3529411765, 63.7647058824), 8.5px 6.375px rgb(15.9411764706, 31.1764705882, 52.8823529412), 9px 6.75px rgb(15, 23, 42);
  transform: translate(4px, 3px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:hover ~ span:first-of-type,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:hover ~ span:first-of-type {
  opacity: 1;
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:hover:not(.fa-arrow-rotate-right),
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:hover:not(.fa-arrow-rotate-right) {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.2380952381, 155.380952381, 218.1904761905), 1.5px 1.125px rgb(29.4761904762, 148.7619047619, 209.380952381), 2px 1.5px rgb(28.7142857143, 142.1428571429, 200.5714285714), 2.5px 1.875px rgb(27.9523809524, 135.5238095238, 191.7619047619), 3px 2.25px rgb(27.1904761905, 128.9047619048, 182.9523809524), 3.5px 2.625px rgb(26.4285714286, 122.2857142857, 174.1428571429), 4px 3px rgb(25.6666666667, 115.6666666667, 165.3333333333), 4.5px 3.375px rgb(24.9047619048, 109.0476190476, 156.5238095238), 5px 3.75px rgb(24.1428571429, 102.4285714286, 147.7142857143), 5.5px 4.125px rgb(23.380952381, 95.8095238095, 138.9047619048), 6px 4.5px rgb(22.619047619, 89.1904761905, 130.0952380952), 6.5px 4.875px rgb(21.8571428571, 82.5714285714, 121.2857142857), 7px 5.25px rgb(21.0952380952, 75.9523809524, 112.4761904762), 7.5px 5.625px rgb(20.3333333333, 69.3333333333, 103.6666666667), 8px 6px rgb(19.5714285714, 62.7142857143, 94.8571428571), 8.5px 6.375px rgb(18.8095238095, 56.0952380952, 86.0476190476), 9px 6.75px rgb(18.0476190476, 49.4761904762, 77.2380952381), 9.5px 7.125px rgb(17.2857142857, 42.8571428571, 68.4285714286), 10px 7.5px rgb(16.5238095238, 36.2380952381, 59.619047619), 10.5px 7.875px rgb(15.7619047619, 29.619047619, 50.8095238095), 11px 8.25px rgb(15, 23, 42);
  transform: translate(2px, 1.5px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:active:not(.fa-arrow-rotate-right),
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:active:not(.fa-arrow-rotate-right) {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.0588235294, 153.8235294118, 216.1176470588), 1.5px 1.125px rgb(29.1176470588, 145.6470588235, 205.2352941176), 2px 1.5px rgb(28.1764705882, 137.4705882353, 194.3529411765), 2.5px 1.875px rgb(27.2352941176, 129.2941176471, 183.4705882353), 3px 2.25px rgb(26.2941176471, 121.1176470588, 172.5882352941), 3.5px 2.625px rgb(25.3529411765, 112.9411764706, 161.7058823529), 4px 3px rgb(24.4117647059, 104.7647058824, 150.8235294118), 4.5px 3.375px rgb(23.4705882353, 96.5882352941, 139.9411764706), 5px 3.75px rgb(22.5294117647, 88.4117647059, 129.0588235294), 5.5px 4.125px rgb(21.5882352941, 80.2352941176, 118.1764705882), 6px 4.5px rgb(20.6470588235, 72.0588235294, 107.2941176471), 6.5px 4.875px rgb(19.7058823529, 63.8823529412, 96.4117647059), 7px 5.25px rgb(18.7647058824, 55.7058823529, 85.5294117647), 7.5px 5.625px rgb(17.8235294118, 47.5294117647, 74.6470588235), 8px 6px rgb(16.8823529412, 39.3529411765, 63.7647058824), 8.5px 6.375px rgb(15.9411764706, 31.1764705882, 52.8823529412), 9px 6.75px rgb(15, 23, 42);
  transform: translate(4px, 3px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom):not(.anim, .closed) .fa-arrow-rotate-right:hover,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte:not(.anim, .closed) .fa-arrow-rotate-right:hover {
  transform: rotate(15deg);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom).anim .fa-arrow-rotate-right:hover,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte.anim .fa-arrow-rotate-right:hover {
  cursor: not-allowed;
}
#containerHUD nav.droite ul #rotationStandIcon.open.anim i {
  animation: iconTurn 5s linear infinite;
}
#containerHUD nav.droite ul .bouton-texte.changementPage,
#containerHUD nav.droite ul .bouton-texte.zoom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#containerHUD nav.droite ul .bouton-texte.changementPage .container-button-texte,
#containerHUD nav.droite ul .bouton-texte.zoom .container-button-texte {
  min-width: calc(2 * var(--rightNavFontSize)) !important;
}
#containerHUD nav.droite ul .bouton-texte.changementPage .container-button-texte.pagePrecedente,
#containerHUD nav.droite ul .bouton-texte.zoom .container-button-texte.pagePrecedente {
  transform: rotateY(-180deg);
}
#containerHUD nav.droite ul #infosBook,
#containerHUD nav.droite ul #infosSkills,
#containerHUD nav.droite ul #infosContact,
#containerHUD nav.droite ul #infosAbout {
  cursor: help !important;
}
#containerHUD nav.droite ul .bouton-texte .tooltip {
  opacity: 0;
  z-index: 200;
  position: absolute;
  background-color: var(--subColor);
  display: grid;
  place-content: center;
  height: 25px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid var(--fontLight);
  font-size: 0.8rem;
  font-family: "amaranth";
  color: var(--fontLight);
  top: calc(50% - var(--rightNavFontSize) / 2 - 42.5px);
  transition: opacity 0.3s;
}
#containerHUD nav.droite ul .bouton-texte .tooltip:not(.duo) {
  left: calc(50% - 75px);
}
#containerHUD nav.droite ul .bouton-texte .tooltip.duo-left {
  left: calc(50% - 75px - var(--rightNavFontSize));
}
#containerHUD nav.droite ul .bouton-texte .tooltip.duo-right {
  left: calc(50% - 75px + var(--rightNavFontSize));
}
#containerHUD nav.droite ul .bouton-texte .tooltip::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  bottom: -4px;
  left: calc(50% - 6px);
  transform: rotate(45deg);
  box-sizing: border-box;
  border-bottom: 5px solid var(--subColor);
  border-right: 5px solid var(--subColor);
  transition: opacity 0.3s;
}
#containerHUD nav.droite ul .bouton-texte .tooltip::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  bottom: -4px;
  left: calc(50% - 4px);
  transform: rotate(45deg);
  box-sizing: border-box;
  border-bottom: 1px solid var(--fontLight);
  border-right: 1px solid var(--fontLight);
  transition: opacity 0.3s;
}
#containerHUD nav.droite ul #pixelize i {
  align-self: center;
  justify-self: center;
  position: absolute;
}
#containerHUD nav.droite ul #pixelize .fa-skull-crossbones {
  z-index: 110;
}
#containerHUD nav.droite ul #pixelize .fa-user {
  opacity: 0;
  z-index: 100;
}
#containerHUD nav.droite ul #pixelize.closed .fa-skull-crossbones {
  opacity: 0;
}
#containerHUD nav.droite ul #pixelize.closed .fa-user {
  opacity: 1;
}
#containerHUD nav.droite ul #openBook i {
  align-self: center;
  justify-self: center;
  position: absolute;
}
#containerHUD nav.droite ul #openBook .fa-book {
  z-index: 110;
}
#containerHUD nav.droite ul #openBook .fa-book-open {
  opacity: 0;
  z-index: 100;
}
#containerHUD nav.droite ul #openBook.closed .fa-book {
  opacity: 0;
}
#containerHUD nav.droite ul #openBook.closed .fa-book-open {
  opacity: 1;
}
#containerHUD nav.droite ul #openStandIcon {
  transform: rotate(-45deg);
}
#containerHUD nav.droite ul #openStandIcon span {
  transform: translateX(var(--rightNavFontSize)) rotate(45deg) translateY(0.75rem);
}
#containerHUD nav.droite ul #openStandIcon i {
  align-self: center;
  justify-self: center;
  position: absolute;
}
#containerHUD nav.droite ul #openStandIcon .fa-down-left-and-up-right-to-center {
  z-index: 110;
}
#containerHUD nav.droite ul #openStandIcon .fa-up-right-and-down-left-from-center {
  opacity: 0;
  z-index: 100;
}
#containerHUD nav.droite ul #openStandIcon.closed .fa-down-left-and-up-right-to-center {
  opacity: 0;
}
#containerHUD nav.droite ul #openStandIcon.closed .fa-up-right-and-down-left-from-center {
  opacity: 1;
}

html body #containerHUD nav.droite ul li > * {
  position: absolute;
  align-self: center;
  justify-self: center;
  visibility: hidden;
}

#containerView {
  visibility: visible;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 2;
  height: 78vh;
  width: 65vw;
}
#containerView .hidden {
  display: none !important;
}
#containerView .main {
  transform-style: preserve-3d;
  position: relative;
  z-index: 10;
  height: 78vh;
  width: 65vw;
}
#containerView #APROPOS,
#containerView #PORTFOLIO,
#containerView #CURRICULUM,
#containerView #COMPETENCES,
#containerView #CONTACT {
  visibility: visible !important;
  display: grid;
  align-content: center;
  text-align: center;
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  font-family: "baskerville";
}
#modal #exitModal {
  all: initial;
  display: grid;
  place-content: center;
  font-size: 3rem;
  position: fixed;
  z-index: 700;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0.3rem solid black;
  cursor: pointer;
}
#modal #backgroundModal {
  position: absolute;
  z-index: 500;
  height: 100vh;
  width: 100vw;
  background-color: var(--subColorLight);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: crosshair;
}
#modal #containerModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 600;
  align-self: center;
  justify-self: center;
  padding: 20px;
  height: 70vh;
  width: calc(70vw - 20px);
  min-width: 400px;
  background-color: var(--mainColor3);
  overflow: scroll;
}
#modal #containerModal h1 {
  font-size: clamp(2rem, 2.8vw, 2.75rem);
  margin-bottom: 10px;
}
#modal #containerModal h3 {
  font-size: clamp(1.5rem, 2.2vw, 2.25rem);
  margin-bottom: 5px;
}
#modal #containerModal p {
  font-size: clamp(1rem, 2vw, 1.75rem);
}
#modal #containerModal #captcha {
  display: none;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  row-gap: 20px;
  align-content: center;
  justify-content: space-around;
}
#modal #containerModal #captcha #captchaImg {
  align-self: center;
  min-width: 400px;
  max-width: 400px;
  min-height: 160px;
  max-height: 160px;
  border: 2px solid black;
}
#modal #containerModal #captcha div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
}
#modal #containerModal #captcha div input {
  all: initial;
  border: none;
  border-bottom: 2px solid var(--mainColor3);
  padding-left: 3px;
  background: var(--mainColor1) !important;
  height: 30px;
  width: 40%;
  cursor: text !important;
}
#modal #containerModal #captcha div button {
  height: 50px;
  width: 100px;
  cursor: pointer;
}/*# sourceMappingURL=hud.css.map */