:root {
  --menuLargeur:clamp(300px, 40vh, 15vw);
  --menuHauteur:calc(var(--menuLargeur) / 3);
  --menuProfondeur:50px;
  --ignitionDegree: 20deg;
  --vitesseEntree:3s;
  --vitesseSortie:1.75s;
  --rightNavFontSize:clamp(2rem, 3vw, 3.25rem);
  --bookBorder:rgb(50, 50, 50);
  --bookPage:whitesmoke;
  --mainColor1:rgb(17, 126, 181);
  --mainColor2:rgb(31, 162, 227);
  --mainColor3:rgb(20, 172, 249);
  --subColor1:rgb(39, 48, 52);
  --blurColor1:rgba(1,1,1, 0.1);
  --blurColor2:rgba(10,10,10, 0.25);
  --blurColor3:rgba(15,15,15, 0.5);
  --subColorLight: rgba(39, 48, 52, 0.8);
  --mainColorLight:rgba(17, 126, 181, 0.6);
  --standLargeur:clamp(15vw, 70vh, 40vw);
  --standLargeurInt:calc(12/21 * (var(--standLargeur)));
  --standEpaisseur:calc(2/21 * (var(--standLargeur)));
  --standHauteur:calc(24/21 * (var(--standLargeur)));
  --livreLargeur:clamp(200px, 75vh, 37vw);
  --imageGauche:url("../../../divers/img/imgL.jpg");
  --imageGaucheDos:url("../../../divers/img/2.jpg");
  --imageDroite:url("../../../divers/img/imgLWait1.jpg");
  --imageDroiteDos:url("../../../divers/img/imgRFront.jpg");
  --zoomLivre:-300px;
  --inclinaisonLivre:-8deg;
  --rotationLivre:35deg;
  --justifyLivre:0vw;
  --alignLivre:-7.5vh;
  --gapLivre:20px;
  --vitessePage:1.6s;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#containerHUD {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../../../divers/img/backgroundHUD.png"), linear-gradient(to right, rgba(15, 23, 42, 0.8) 20%, rgb(15, 23, 42) 78%, rgba(15, 23, 42, 0.9) 100%);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1vw 20vw 1vw 56vw 1vw 15vw 1vw 4vw 1vw;
  grid-template-rows: 10vh 80vh 10vh;
  perspective: 1000px;
  perspective-origin: center;
}

#waitingMenu {
  position: absolute;
  grid-row: 2;
  grid-column: 2;
  height: calc(var(--menuLargeur) / 3 * 5 + 3vh);
  align-self: center;
  justify-self: center;
  transform-origin: left;
  background-repeat: no-repeat;
  filter: hue-rotate(35deg) contrast(2);
}

nav.gauche {
  position: absolute;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 2;
  height: 80vh;
  width: 20vw;
  display: grid;
  transform-origin: left;
  transform: rotateY(45deg) translate3d(100px, 0, 0);
}

nav.gauche ul {
  position: absolute;
  transform-style: preserve-3d;
  min-height: calc(var(--menuHauteur) * 5 + 3vh);
  width: var(--menuLargeur);
  align-self: center;
  justify-self: start;
  transform-origin: right;
  display: grid;
  row-gap: 5px;
}

nav.gauche ul li {
  position: relative;
  transform-style: preserve-3d;
  min-height: var(--menuHauteur);
  max-height: var(--menuHauteur);
  width: calc(var(--menuLargeur) - 20px);
  text-transform: uppercase;
  color: whitesmoke;
  background-color: var(--mainColorLight);
  display: grid;
  align-content: center;
  padding-left: 20px;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-shadow: -0.06rem 0rem 0 rgb(148, 163, 184), -0.06rem 0.05rem 0 #0f172a, -0.12rem 0.025rem 0 #94a3b8, -0.12rem 0.075rem 0 #0f172a, -0.18rem 0.05rem 0 #94a3b8, -0.18rem 0.1rem 0 #0f172a, -0.24rem 0.075rem 0 #94a3b8, -0.24rem 0.125rem 0 #0f172a, -0.3rem 0.1rem 0 #94a3b8, -0.3rem 0.15rem 0 #0f172a;
  cursor: pointer;
  transition: transform 3s;
}
nav.gauche ul li:hover {
  transform: translateX(50px);
}
nav.gauche ul li.clicked {
  transform: translate3d(0, 0, 0) rotateY(var(--menuAngle)) translateX(10000px) scale(0);
}
nav.gauche ul li::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuHauteur);
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: rotateY(90deg);
}
nav.gauche ul li::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: var(--menuLargeur);
  background-color: var(--subColorLight);
  transform-origin: top;
  transform: rotateX(-90deg);
}

nav.gauche ul li .back {
  position: absolute;
  transform-style: preserve-3d;
  height: var(--menuHauteur);
  width: var(--menuLargeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: translate3d(0, 0, calc(-1 * var(--menuProfondeur)));
}
nav.gauche ul li .back::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuHauteur);
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: translateX(var(--menuLargeur)) rotateY(-90deg);
}
nav.gauche ul li .back::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: var(--menuLargeur);
  background-color: var(--subColorLight);
  transform-origin: top;
  transform: translateY(var(--menuHauteur)) rotateX(90deg);
}

#containerView {
  visibility: hidden;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 4;
  height: 80vh;
  width: 56vw;
  background: radial-gradient(ellipse farthest-corner, var(--blurColorIn), var(--blurColorMid) 50%, var(--blurColorOut) 100%);
}

#containerView .hidden {
  display: none !important;
}

#containerView .main {
  transform-style: preserve-3d;
  position: relative;
  z-index: 10;
  grid-row: 2;
  grid-column: 4;
  height: 80vh;
  width: 56vw;
  display: grid;
  align-content: center;
  text-align: center;
  font-size: 5rem;
}

#APROPOS {
  visibility: visible !important;
  background-color: rgba(0, 0, 255, 0.3);
}

#PORTFOLIO {
  visibility: visible !important;
}

#CURRICULUM {
  visibility: visible !important;
}

#COMPETENCES {
  visibility: visible !important;
  background-color: rgba(128, 0, 128, 0.3);
}

#CONTACT {
  visibility: visible !important;
  background-color: rgba(255, 228, 196, 0.3);
}

nav.droite {
  grid-row: 2;
  grid-column: 6;
  position: relative;
  z-index: 100;
  height: 80vh;
  width: 15vw;
  display: none;
  grid-template-rows: repeat(5, 10vh) 30vh;
  grid-template-columns: 1fr;
}

nav.droite ul {
  height: 80vh;
  width: 15vw;
  display: grid;
  align-content: center;
  grid-template-rows: 10vh repeat(5, 12vh) 10vh;
  grid-template-columns: 1fr;
}

nav.droite ul li {
  all: initial;
  display: grid;
  align-content: center;
  min-height: 12vh;
  min-width: 15vw;
}

nav.droite ul li:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}

nav.droite ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}

nav.droite ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 4;
}

nav.droite ul li:nth-of-type(4) {
  grid-column: 1;
  grid-row: 5;
}

nav.droite ul li:nth-of-type(5) {
  grid-column: 1;
  grid-row: 6;
}

nav.droite ul li .bouton-texte:not(.changementPage, .zoom),
nav.droite ul li .bouton-texte .container-button-texte {
  align-self: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  min-height: 10vh;
  min-width: 12vh;
  display: grid;
  place-content: center;
  font-size: var(--rightNavFontSize);
  color: var(--mainColor3);
}
nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i,
nav.droite ul li .bouton-texte .container-button-texte i {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.36, 156.44, 219.6), 1.5px 1.125px rgb(29.72, 150.88, 212.2), 2px 1.5px rgb(29.08, 145.32, 204.8), 2.5px 1.875px rgb(28.44, 139.76, 197.4), 3px 2.25px rgb(27.8, 134.2, 190), 3.5px 2.625px rgb(27.16, 128.64, 182.6), 4px 3px rgb(26.52, 123.08, 175.2), 4.5px 3.375px rgb(25.88, 117.52, 167.8), 5px 3.75px rgb(25.24, 111.96, 160.4), 5.5px 4.125px rgb(24.6, 106.4, 153), 6px 4.5px rgb(23.96, 100.84, 145.6), 6.5px 4.875px rgb(23.32, 95.28, 138.2), 7px 5.25px rgb(22.68, 89.72, 130.8), 7.5px 5.625px rgb(22.04, 84.16, 123.4), 8px 6px rgb(21.4, 78.6, 116), 8.5px 6.375px rgb(20.76, 73.04, 108.6), 9px 6.75px rgb(20.12, 67.48, 101.2), 9.5px 7.125px rgb(19.48, 61.92, 93.8), 10px 7.5px rgb(18.84, 56.36, 86.4), 10.5px 7.875px rgb(18.2, 50.8, 79), 11px 8.25px rgb(17.56, 45.24, 71.6), 11.5px 8.625px rgb(16.92, 39.68, 64.2), 12px 9px rgb(16.28, 34.12, 56.8), 12.5px 9.375px rgb(15.64, 28.56, 49.4), 13px 9.75px rgb(15, 23, 42);
  transform: translate(0, 0);
  transition: opacity 0.5s;
}
nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:not(.fa-arrow-rotate-right):hover,
nav.droite ul li .bouton-texte .container-button-texte i:not(.fa-arrow-rotate-right):hover {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.2380952381, 155.380952381, 218.1904761905), 1.5px 1.125px rgb(29.4761904762, 148.7619047619, 209.380952381), 2px 1.5px rgb(28.7142857143, 142.1428571429, 200.5714285714), 2.5px 1.875px rgb(27.9523809524, 135.5238095238, 191.7619047619), 3px 2.25px rgb(27.1904761905, 128.9047619048, 182.9523809524), 3.5px 2.625px rgb(26.4285714286, 122.2857142857, 174.1428571429), 4px 3px rgb(25.6666666667, 115.6666666667, 165.3333333333), 4.5px 3.375px rgb(24.9047619048, 109.0476190476, 156.5238095238), 5px 3.75px rgb(24.1428571429, 102.4285714286, 147.7142857143), 5.5px 4.125px rgb(23.380952381, 95.8095238095, 138.9047619048), 6px 4.5px rgb(22.619047619, 89.1904761905, 130.0952380952), 6.5px 4.875px rgb(21.8571428571, 82.5714285714, 121.2857142857), 7px 5.25px rgb(21.0952380952, 75.9523809524, 112.4761904762), 7.5px 5.625px rgb(20.3333333333, 69.3333333333, 103.6666666667), 8px 6px rgb(19.5714285714, 62.7142857143, 94.8571428571), 8.5px 6.375px rgb(18.8095238095, 56.0952380952, 86.0476190476), 9px 6.75px rgb(18.0476190476, 49.4761904762, 77.2380952381), 9.5px 7.125px rgb(17.2857142857, 42.8571428571, 68.4285714286), 10px 7.5px rgb(16.5238095238, 36.2380952381, 59.619047619), 10.5px 7.875px rgb(15.7619047619, 29.619047619, 50.8095238095), 11px 8.25px rgb(15, 23, 42);
  transform: translate(2px, 1.5px);
}
nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:not(.fa-arrow-rotate-right):active,
nav.droite ul li .bouton-texte .container-button-texte i:not(.fa-arrow-rotate-right):active {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.0588235294, 153.8235294118, 216.1176470588), 1.5px 1.125px rgb(29.1176470588, 145.6470588235, 205.2352941176), 2px 1.5px rgb(28.1764705882, 137.4705882353, 194.3529411765), 2.5px 1.875px rgb(27.2352941176, 129.2941176471, 183.4705882353), 3px 2.25px rgb(26.2941176471, 121.1176470588, 172.5882352941), 3.5px 2.625px rgb(25.3529411765, 112.9411764706, 161.7058823529), 4px 3px rgb(24.4117647059, 104.7647058824, 150.8235294118), 4.5px 3.375px rgb(23.4705882353, 96.5882352941, 139.9411764706), 5px 3.75px rgb(22.5294117647, 88.4117647059, 129.0588235294), 5.5px 4.125px rgb(21.5882352941, 80.2352941176, 118.1764705882), 6px 4.5px rgb(20.6470588235, 72.0588235294, 107.2941176471), 6.5px 4.875px rgb(19.7058823529, 63.8823529412, 96.4117647059), 7px 5.25px rgb(18.7647058824, 55.7058823529, 85.5294117647), 7.5px 5.625px rgb(17.8235294118, 47.5294117647, 74.6470588235), 8px 6px rgb(16.8823529412, 39.3529411765, 63.7647058824), 8.5px 6.375px rgb(15.9411764706, 31.1764705882, 52.8823529412), 9px 6.75px rgb(15, 23, 42);
  transform: translate(4px, 3px);
}
nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:hover:not(.fa-arrow-rotate-right),
nav.droite ul li .bouton-texte .container-button-texte i:hover:not(.fa-arrow-rotate-right) {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.2380952381, 155.380952381, 218.1904761905), 1.5px 1.125px rgb(29.4761904762, 148.7619047619, 209.380952381), 2px 1.5px rgb(28.7142857143, 142.1428571429, 200.5714285714), 2.5px 1.875px rgb(27.9523809524, 135.5238095238, 191.7619047619), 3px 2.25px rgb(27.1904761905, 128.9047619048, 182.9523809524), 3.5px 2.625px rgb(26.4285714286, 122.2857142857, 174.1428571429), 4px 3px rgb(25.6666666667, 115.6666666667, 165.3333333333), 4.5px 3.375px rgb(24.9047619048, 109.0476190476, 156.5238095238), 5px 3.75px rgb(24.1428571429, 102.4285714286, 147.7142857143), 5.5px 4.125px rgb(23.380952381, 95.8095238095, 138.9047619048), 6px 4.5px rgb(22.619047619, 89.1904761905, 130.0952380952), 6.5px 4.875px rgb(21.8571428571, 82.5714285714, 121.2857142857), 7px 5.25px rgb(21.0952380952, 75.9523809524, 112.4761904762), 7.5px 5.625px rgb(20.3333333333, 69.3333333333, 103.6666666667), 8px 6px rgb(19.5714285714, 62.7142857143, 94.8571428571), 8.5px 6.375px rgb(18.8095238095, 56.0952380952, 86.0476190476), 9px 6.75px rgb(18.0476190476, 49.4761904762, 77.2380952381), 9.5px 7.125px rgb(17.2857142857, 42.8571428571, 68.4285714286), 10px 7.5px rgb(16.5238095238, 36.2380952381, 59.619047619), 10.5px 7.875px rgb(15.7619047619, 29.619047619, 50.8095238095), 11px 8.25px rgb(15, 23, 42);
  transform: translate(2px, 1.5px);
}
nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:active:not(.fa-arrow-rotate-right),
nav.droite ul li .bouton-texte .container-button-texte i:active:not(.fa-arrow-rotate-right) {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.0588235294, 153.8235294118, 216.1176470588), 1.5px 1.125px rgb(29.1176470588, 145.6470588235, 205.2352941176), 2px 1.5px rgb(28.1764705882, 137.4705882353, 194.3529411765), 2.5px 1.875px rgb(27.2352941176, 129.2941176471, 183.4705882353), 3px 2.25px rgb(26.2941176471, 121.1176470588, 172.5882352941), 3.5px 2.625px rgb(25.3529411765, 112.9411764706, 161.7058823529), 4px 3px rgb(24.4117647059, 104.7647058824, 150.8235294118), 4.5px 3.375px rgb(23.4705882353, 96.5882352941, 139.9411764706), 5px 3.75px rgb(22.5294117647, 88.4117647059, 129.0588235294), 5.5px 4.125px rgb(21.5882352941, 80.2352941176, 118.1764705882), 6px 4.5px rgb(20.6470588235, 72.0588235294, 107.2941176471), 6.5px 4.875px rgb(19.7058823529, 63.8823529412, 96.4117647059), 7px 5.25px rgb(18.7647058824, 55.7058823529, 85.5294117647), 7.5px 5.625px rgb(17.8235294118, 47.5294117647, 74.6470588235), 8px 6px rgb(16.8823529412, 39.3529411765, 63.7647058824), 8.5px 6.375px rgb(15.9411764706, 31.1764705882, 52.8823529412), 9px 6.75px rgb(15, 23, 42);
  transform: translate(4px, 3px);
}
nav.droite ul li .bouton-texte:not(.changementPage, .zoom):not(.anim, .closed) .fa-arrow-rotate-right:hover,
nav.droite ul li .bouton-texte .container-button-texte:not(.anim, .closed) .fa-arrow-rotate-right:hover {
  transform: rotate(15deg);
}
nav.droite ul li .bouton-texte:not(.changementPage, .zoom).anim .fa-arrow-rotate-right:hover,
nav.droite ul li .bouton-texte .container-button-texte.anim .fa-arrow-rotate-right:hover {
  cursor: not-allowed;
}

#rotationStandIcon.open.anim {
  animation: iconTurn 5s linear infinite;
}

.bouton-texte.changementPage,
.bouton-texte.zoom {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.bouton-texte.changementPage .container-button-texte,
.bouton-texte.zoom .container-button-texte {
  min-width: calc(2 * var(--rightNavFontSize)) !important;
}
.bouton-texte.changementPage .container-button-texte.pagePrecedente,
.bouton-texte.zoom .container-button-texte.pagePrecedente {
  transform: rotateY(-180deg);
}

#openBook i {
  align-self: center;
  justify-self: center;
  position: absolute;
}
#openBook .fa-book {
  z-index: 110;
}
#openBook .fa-book-open {
  opacity: 0;
  z-index: 100;
}
#openBook.closed .fa-book {
  opacity: 0;
}
#openBook.closed .fa-book-open {
  opacity: 1;
}

#openStandIcon {
  transform: rotate(-45deg);
}
#openStandIcon i {
  align-self: center;
  justify-self: center;
  position: absolute;
}
#openStandIcon .fa-down-left-and-up-right-to-center {
  z-index: 110;
}
#openStandIcon .fa-up-right-and-down-left-from-center {
  opacity: 0;
  z-index: 100;
}
#openStandIcon.closed .fa-down-left-and-up-right-to-center {
  opacity: 0;
}
#openStandIcon.closed .fa-up-right-and-down-left-from-center {
  opacity: 1;
}

html body #containerHUD nav.droite ul li > * {
  position: absolute;
  align-self: center;
  justify-self: center;
  visibility: hidden;
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
}

#backgroundModal {
  position: absolute;
  z-index: 500;
  height: 100vh;
  width: 100vw;
  background-color: var(--subColorLight);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: crosshair;
}

#containerModal {
  position: absolute;
  z-index: 600;
  top: 15vh;
  left: 15vw;
  padding: 20px;
  height: 70vh;
  width: calc(70vw - 20px);
  background-color: var(--mainColor3);
}/*# sourceMappingURL=hud.css.map */