:root {
  --menuLargeur:clamp(200px, 40vh, 500px);
  --menuHauteur:calc(var(--menuLargeur) / 3);
  --menuProfondeur:50px;
  --ignitionDegree: 20deg;
  --vitesseEntree:5s;
  --vitesseSortie:3s;
  --bookBorder:rgb(50, 50, 50);
  --bookPage:whitesmoke;
  --mainColor1:rgb(17, 126, 181);
  --mainColor2:rgb(31, 162, 227);
  --mainColor3:rgb(20, 172, 249);
  --subColor1:rgb(39, 48, 52);
  --blurColor1:rgba(1,1,1, 0.1);
  --blurColor2:rgba(10,10,10, 0.25);
  --blurColor3:rgba(15,15,15, 0.5);
  --subColorLight: rgba(39, 48, 52, 0.8);
  --mainColorLight:rgba(17, 126, 181, 0.6);
  --standLargeur:clamp(15vw, 70vh, 40vw);
  --standLargeurInt:calc(12/21 * (var(--standLargeur)));
  --standEpaisseur:calc(2/21 * (var(--standLargeur)));
  --standHauteur:calc(24/21 * (var(--standLargeur)));
  --livreLargeur:clamp(200px, 75vh, 1000px);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#containerHUD {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../../../divers/img/backgroundHUD.png"), linear-gradient(to right, rgba(15, 23, 42, 0.8) 20%, rgb(15, 23, 42) 78%, rgba(15, 23, 42, 0.9) 100%);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1vw 20vw 1vw 56vw 1vw 12vw 1vw 7vw 1vw;
  grid-template-rows: 10vh 80vh 10vh;
  perspective: 1000px;
  perspective-origin: center;
}

#waitingMenu {
  position: absolute;
  grid-row: 2;
  grid-column: 2;
  height: calc(var(--menuLargeur) / 3 * 5 + 3vh);
  align-self: center;
  justify-self: center;
  transform-origin: left;
  background-repeat: no-repeat;
  filter: hue-rotate(10deg);
}

nav.gauche {
  position: absolute;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 2;
  height: 80vh;
  width: 20vw;
  display: grid;
  transform-origin: left;
  transform: rotateY(45deg) translate3d(100px, 0, 0);
}

nav.gauche ul {
  position: absolute;
  transform-style: preserve-3d;
  min-height: calc(var(--menuHauteur) * 5 + 3vh);
  width: var(--menuLargeur);
  align-self: center;
  justify-self: start;
  transform-origin: right;
  display: grid;
  row-gap: 5px;
}

nav.gauche ul li {
  position: relative;
  transform-style: preserve-3d;
  min-height: var(--menuHauteur);
  width: calc(var(--menuLargeur) - 20px);
  text-transform: uppercase;
  color: whitesmoke;
  background-color: var(--mainColorLight);
  display: grid;
  align-content: center;
  padding-left: 20px;
  font-size: clamp(1.25rem, 2.6vw, 2.6rem);
  text-shadow: -0.06rem 0rem 0 rgb(148, 163, 184), -0.06rem 0.05rem 0 #0f172a, -0.12rem 0.025rem 0 #94a3b8, -0.12rem 0.075rem 0 #0f172a, -0.18rem 0.05rem 0 #94a3b8, -0.18rem 0.1rem 0 #0f172a, -0.24rem 0.075rem 0 #94a3b8, -0.24rem 0.125rem 0 #0f172a, -0.3rem 0.1rem 0 #94a3b8, -0.3rem 0.15rem 0 #0f172a;
  cursor: pointer;
  transition: transform 3s;
}
nav.gauche ul li:hover {
  transform: translateX(50px);
}
nav.gauche ul li.clicked {
  transform: translate3d(0, 0, 0) rotateY(var(--menuAngle)) translateX(10000px) scale(0);
}
nav.gauche ul li::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuHauteur);
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: rotateY(90deg);
}
nav.gauche ul li::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: var(--menuLargeur);
  background-color: var(--subColorLight);
  transform-origin: top;
  transform: rotateX(-90deg);
}

nav.gauche ul li .back {
  position: absolute;
  transform-style: preserve-3d;
  height: var(--menuHauteur);
  width: var(--menuLargeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: translate3d(0, 0, calc(-1 * var(--menuProfondeur)));
}
nav.gauche ul li .back::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuHauteur);
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: translateX(var(--menuLargeur)) rotateY(-90deg);
}
nav.gauche ul li .back::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: var(--menuLargeur);
  background-color: var(--subColorLight);
  transform-origin: top;
  transform: translateY(var(--menuHauteur)) rotateX(90deg);
}

#containerView {
  visibility: hidden;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 4;
  height: 80vh;
  width: 56vw;
  background: radial-gradient(ellipse farthest-corner, var(--blurColorIn), var(--blurColorMid) 50%, var(--blurColorOut) 100%);
}

#containerView .hidden {
  display: none !important;
}

#containerView .main {
  transform-style: preserve-3d;
  position: relative;
  z-index: 10;
  grid-row: 2;
  grid-column: 4;
  height: 80vh;
  width: 56vw;
  display: grid;
  align-content: center;
  text-align: center;
  font-size: 5rem;
}

#APROPOS {
  visibility: visible !important;
  background-color: rgba(0, 0, 255, 0.3);
}

#PORTFOLIO {
  visibility: visible !important;
}

#CURRICULUM {
  visibility: visible !important;
}

#COMPETENCES {
  visibility: visible !important;
  background-color: rgba(128, 0, 128, 0.3);
}

#CONTACT {
  visibility: visible !important;
  background-color: rgba(255, 228, 196, 0.3);
}

nav.droite {
  grid-row: 2;
  grid-column: 6;
  height: 80vh;
  width: 12vw;
  display: none;
  grid-template-rows: repeat(5, 10vh) 30vh;
  grid-template-columns: 1fr;
}

nav.droite ul {
  height: 80vh;
  width: 12vw;
  display: grid;
  grid-template-rows: repeat(5, 10vh) 30vh;
  grid-template-columns: 1fr;
}

nav.droite ul li {
  all: initial;
  display: grid;
  place-content: center;
  min-height: 10vh;
  min-width: 12vw;
}

nav.droite ul li:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
  background-color: hsl(0deg, 100%, 50%);
}

nav.droite ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
  background-color: hsl(50deg, 100%, 50%);
}

nav.droite ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
  background-color: hsl(100deg, 100%, 50%);
}

nav.droite ul li:nth-of-type(4) {
  grid-column: 1;
  grid-row: 4;
  background-color: hsl(150deg, 100%, 50%);
}

nav.droite ul li:nth-of-type(5) {
  grid-column: 1;
  grid-row: 5;
  background-color: hsl(200deg, 100%, 50%);
}

#openBook {
  all: initial;
  align-self: center;
  justify-self: center;
  position: absolute;
  cursor: pointer;
  background-image: url("../../../divers/img/inputBook2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 10vh;
  min-width: 10vh;
  border-radius: 50%;
}
#openBook:hover {
  transform: scale(1.1);
}

p.previousPage, p.nextPage {
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: grid;
  place-content: center;
  min-height: 10vh;
  width: 50px;
  font-size: 3rem;
  text-align: center;
  color: var(--mainColor3);
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.4px 0.3px rgb(31, 162, 227), 0.8px 0.6px rgb(30.1578947368, 154.6842105263, 217.2631578947), 1.2px 0.9px rgb(29.3157894737, 147.3684210526, 207.5263157895), 1.6px 1.2px rgb(28.4736842105, 140.0526315789, 197.7894736842), 2px 1.5px rgb(27.6315789474, 132.7368421053, 188.0526315789), 2.4px 1.8px rgb(26.7894736842, 125.4210526316, 178.3157894737), 2.8px 2.1px rgb(25.9473684211, 118.1052631579, 168.5789473684), 3.2px 2.4px rgb(25.1052631579, 110.7894736842, 158.8421052632), 3.6px 2.7px rgb(24.2631578947, 103.4736842105, 149.1052631579), 4px 3px rgb(23.4210526316, 96.1578947368, 139.3684210526), 4.4px 3.3px rgb(22.5789473684, 88.8421052632, 129.6315789474), 4.8px 3.6px rgb(21.7368421053, 81.5263157895, 119.8947368421), 5.2px 3.9px rgb(20.8947368421, 74.2105263158, 110.1578947368), 5.6px 4.2px rgb(20.0526315789, 66.8947368421, 100.4210526316), 6px 4.5px rgb(19.2105263158, 59.5789473684, 90.6842105263), 6.4px 4.8px rgb(18.3684210526, 52.2631578947, 80.9473684211), 6.8px 5.1px rgb(17.5263157895, 44.9473684211, 71.2105263158), 7.2px 5.4px rgb(16.6842105263, 37.6315789474, 61.4736842105), 7.6px 5.7px rgb(15.8421052632, 30.3157894737, 51.7368421053), 8px 6px rgb(15, 23, 42);
}
p.previousPage i:hover, p.nextPage i:hover {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.4px 0.3px rgb(31, 162, 227), 0.8px 0.6px rgb(29.8571428571, 152.0714285714, 213.7857142857), 1.2px 0.9px rgb(28.7142857143, 142.1428571429, 200.5714285714), 1.6px 1.2px rgb(27.5714285714, 132.2142857143, 187.3571428571), 2px 1.5px rgb(26.4285714286, 122.2857142857, 174.1428571429), 2.4px 1.8px rgb(25.2857142857, 112.3571428571, 160.9285714286), 2.8px 2.1px rgb(24.1428571429, 102.4285714286, 147.7142857143), 3.2px 2.4px rgb(23, 92.5, 134.5), 3.6px 2.7px rgb(21.8571428571, 82.5714285714, 121.2857142857), 4px 3px rgb(20.7142857143, 72.6428571429, 108.0714285714), 4.4px 3.3px rgb(19.5714285714, 62.7142857143, 94.8571428571), 4.8px 3.6px rgb(18.4285714286, 52.7857142857, 81.6428571429), 5.2px 3.9px rgb(17.2857142857, 42.8571428571, 68.4285714286), 5.6px 4.2px rgb(16.1428571429, 32.9285714286, 55.2142857143), 6px 4.5px rgb(15, 23, 42);
  transform: translate(3px, 1.5px);
}
p.previousPage i:active, p.nextPage i:active {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.4px 0.3px rgb(31, 162, 227), 0.8px 0.6px rgb(29.2222222222, 146.5555555556, 206.4444444444), 1.2px 0.9px rgb(27.4444444444, 131.1111111111, 185.8888888889), 1.6px 1.2px rgb(25.6666666667, 115.6666666667, 165.3333333333), 2px 1.5px rgb(23.8888888889, 100.2222222222, 144.7777777778), 2.4px 1.8px rgb(22.1111111111, 84.7777777778, 124.2222222222), 2.8px 2.1px rgb(20.3333333333, 69.3333333333, 103.6666666667), 3.2px 2.4px rgb(18.5555555556, 53.8888888889, 83.1111111111), 3.6px 2.7px rgb(16.7777777778, 38.4444444444, 62.5555555556), 4px 3px rgb(15, 23, 42);
  transform: translate(6px, 3px);
}

p.nextPage {
  transform: rotate(180deg);
}

#openStandIcon {
  display: block;
  cursor: pointer;
  width: 7vh;
  height: 7vh;
  background-image: url("../../../divers/img/play.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid whitesmoke;
}
#openStandIcon:checked {
  background-image: url("../../../divers/img/pause.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#rotationStandIcon {
  display: block;
  cursor: pointer;
  width: 7vh;
  height: 7vh;
  background-image: url("../../../divers/img/rotation.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid whitesmoke;
}
#rotationStandIcon:hover {
  animation: iconTurn 10s linear infinite;
}
#rotationStandIcon.anim {
  animation: iconTurn 5s linear infinite;
}

html body #containerHUD nav.droite ul li > * {
  position: absolute;
  align-self: center;
  justify-self: center;
  visibility: hidden;
}/*# sourceMappingURL=hud.css.map */