:root {
  --widthBar:clamp(200px, 40vh, 20vw);
  --heightBar:calc(var(--widthBar) / 3);
  --depthBar:50px;
  --colorBarSide: rgba(39, 48, 52, 0.8);
  --colorBarMain:rgba(17, 126, 181, 0.6);
  --blurColor3:rgba(15,15,15, 0.5);
  --blurColor2:rgba(10,10,10, 0.25);
  --blurColor1:rgba(1,1,1, 0.1);
  --ignitionDegree: 20deg;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#containerHUD {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../../../divers/img/backgroundHUD.png"), linear-gradient(to right, rgba(15, 23, 42, 0.8) 20%, rgb(15, 23, 42) 78%, rgba(15, 23, 42, 0.9) 100%);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1vw 20vw 1vw 56vw 1vw 12vw 1vw 7vw 1vw;
  grid-template-rows: 10vh 80vh 10vh;
  perspective: 1000px;
  perspective-origin: center;
}

#blurBackground {
  position: relative;
  z-index: -1;
  grid-row: 1/span 3;
  grid-column: 1/span 7;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 22vw repeat(7, 1fr) 22vw;
  grid-template-rows: 10vh repeat(7, 1fr) 10vh;
  opacity: 0.5;
}
#blurBackground .blurs:nth-child(1) {
  grid-row: 2/span 7;
  grid-column: 2/span 7;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
}
#blurBackground .blurs:nth-child(2) {
  grid-row: 3/span 5;
  grid-column: 3/span 5;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
#blurBackground .blurs:nth-child(3) {
  grid-row: 4/span 3;
  grid-column: 4/span 3;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
}
#blurBackground .blurs:nth-child(4) {
  grid-row: 5/span 1;
  grid-column: 5/span 1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
#blurBackground .vortex {
  background-image: url("../../../divers/img/7.gif");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: inset 10px 10px 5px rgba(15, 17, 20, 0.25), inset -10px 10px 5px rgba(15, 17, 20, 0.25), inset 10px -10px 5px rgba(15, 17, 20, 0.25), inset -10px -10px 5px rgba(15, 17, 20, 0.25), inset 5px 5px 6px rgba(15, 19, 25, 0.75), inset -5px 5px 6px rgba(15, 19, 25, 0.75), inset 5px -5px 6px rgba(15, 19, 25, 0.75), inset -5px -5px 6px rgba(15, 19, 25, 0.75), 5px 5px 6px 6px rgba(15, 21, 30, 0.5), -5px 5px 6px 6px rgba(15, 21, 30, 0.5), 5px -5px 6px 6px rgba(15, 21, 30, 0.5), -5px -5px 6px 6px rgba(15, 21, 30, 0.5), 10px 10px 8px 10px rgba(15, 23, 35, 0.25), -10px 10px 8px 10px rgba(15, 23, 35, 0.25), 10px -10px 8px 10px rgba(15, 23, 35, 0.25), -10px -10px 8px 10px rgba(15, 23, 35, 0.25);
}

#waitingMenu {
  position: absolute;
  grid-row: 2;
  grid-column: 2;
  height: calc(var(--widthBar) / 3 * 5 + 3vh);
  align-self: center;
  justify-self: center;
  transform-origin: left;
  background-repeat: no-repeat;
  filter: hue-rotate(10deg);
}

nav.gauche {
  position: absolute;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 2;
  height: 80vh;
  width: 20vw;
  display: grid;
  transform-origin: left;
  transform: rotateY(45deg) translate3d(100px, 0, 0);
}

nav.gauche ul {
  position: absolute;
  transform-style: preserve-3d;
  height: calc(var(--widthBar) / 3 * 5 + 3vh);
  width: var(--widthBar);
  align-self: center;
  justify-self: start;
  transform-origin: right;
  display: grid;
  row-gap: 5px;
}

nav.gauche ul li {
  position: relative;
  transform-style: preserve-3d;
  height: var(--heightBar);
  width: calc(var(--widthBar) - 20px);
  text-transform: uppercase;
  color: whitesmoke;
  background-color: var(--colorBarMain);
  display: grid;
  align-content: center;
  padding-left: 20px;
  font-size: clamp(1.25rem, 2.6vw, 2.6rem);
  text-shadow: -0.06rem 0rem 0 rgb(148, 163, 184), -0.06rem 0.05rem 0 #0f172a, -0.12rem 0.025rem 0 #94a3b8, -0.12rem 0.075rem 0 #0f172a, -0.18rem 0.05rem 0 #94a3b8, -0.18rem 0.1rem 0 #0f172a, -0.24rem 0.075rem 0 #94a3b8, -0.24rem 0.125rem 0 #0f172a, -0.3rem 0.1rem 0 #94a3b8, -0.3rem 0.15rem 0 #0f172a;
  cursor: pointer;
  transition: transform 3s;
}
nav.gauche ul li:hover {
  transform: translateX(50px);
}
nav.gauche ul li.clicked {
  transform: translate3d(0, 0, 0) rotateY(var(--ignitionDegree)) translateX(10000px) scale(0);
}
nav.gauche ul li::before {
  position: absolute;
  content: "";
  height: var(--heightBar);
  width: var(--depthBar);
  background-color: var(--colorBarSide);
  transform-origin: left;
  transform: rotateY(90deg);
}
nav.gauche ul li::after {
  position: absolute;
  content: "";
  height: var(--depthBar);
  width: var(--widthBar);
  background-color: var(--colorBarSide);
  transform-origin: top;
  transform: rotateX(-90deg);
}

nav.gauche ul li .back {
  position: absolute;
  transform-style: preserve-3d;
  height: var(--heightBar);
  width: var(--widthBar);
  background-color: var(--colorBarSide);
  transform-origin: left;
  transform: translate3d(0, 0, calc(-1 * var(--depthBar)));
}
nav.gauche ul li .back::before {
  position: absolute;
  content: "";
  height: var(--heightBar);
  width: var(--depthBar);
  background-color: var(--colorBarSide);
  transform-origin: left;
  transform: translateX(var(--widthBar)) rotateY(-90deg);
}
nav.gauche ul li .back::after {
  position: absolute;
  content: "";
  height: var(--depthBar);
  width: var(--widthBar);
  background-color: var(--colorBarSide);
  transform-origin: top;
  transform: translateY(var(--heightBar)) rotateX(90deg);
}

#containerView {
  visibility: hidden;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 4;
  height: 80vh;
  width: 56vw;
  background: radial-gradient(ellipse farthest-corner, var(--blurColorIn), var(--blurColorMid) 50%, var(--blurColorOut) 100%);
}

#containerView .hidden {
  display: none !important;
}

#containerView .main {
  transform-style: preserve-3d;
  position: relative;
  z-index: 10;
  grid-row: 2;
  grid-column: 4;
  height: 80vh;
  width: 56vw;
  display: grid;
  align-content: center;
  text-align: center;
  font-size: 5rem;
}

#CURRICULUM {
  visibility: visible !important;
}

#APROPOS {
  visibility: visible !important;
  background-color: rgba(0, 0, 255, 0.3);
}

#PORTFOLIO {
  visibility: visible !important;
}

#COMPETENCES {
  visibility: visible !important;
  background-color: rgba(128, 0, 128, 0.3);
}

#CONTACT {
  visibility: visible !important;
  background-color: rgba(255, 228, 196, 0.3);
}

nav.droite {
  grid-row: 2;
  grid-column: 6;
  height: 80vh;
  width: 12vw;
  display: none;
  grid-template-rows: repeat(5, 10vh) 30vh;
  grid-template-columns: 1fr;
  background: linear-gradient(to bottom, red 0vh, red 10vh, green 10vh, green 20vh, blue 20vh, blue 30vh, yellow 30vh, yellow 40vh, purple 40vh, purple 50vh, black 50vh);
}

nav.droite ul {
  height: 80vh;
  width: 12vw;
  display: grid;
  grid-template-rows: repeat(5, 10vh) 30vh;
  grid-template-columns: 1fr;
}

nav.droite ul li {
  display: grid;
  place-content: center;
}

nav.droite ul li button {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  cursor: pointer;
}

button.droite:nth-of-type(1) {
  grid-column: 1;
  grid-row: 0;
}

button.droite:nth-of-type(2) {
  grid-column: 1;
  grid-row: 1;
}

button.droite:nth-of-type(3) {
  grid-column: 1;
  grid-row: 2;
}

button.droite:nth-of-type(4) {
  grid-column: 1;
  grid-row: 3;
}/*# sourceMappingURL=hud.css.map */