@import 'variables';

html, body {
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav, ul, li {
    margin:0;
    padding: 0;
    list-style: none;
}

#containerHUD {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-image: url('../../../divers/img/backgroundHUD.jpg');
    background-position: center;    
    background-size: cover;

    display:grid;
    grid-template-columns: 1vw 20vw 1vw 56vw 1vw 15vw 1vw 4vw 1vw;
    grid-template-rows: 10vh 80vh 10vh;

    perspective: 1000px;
    perspective-origin: center;

    backdrop-filter: opacity(.2);
}

// #blurBackground {
//     position: relative;
//     z-index: -1;
//     grid-row:1 / span 3;
//     grid-column: 1 / span 7;
//     height: 100vh;
//     width: 100vw;

//     display: grid;
//     grid-template-columns: 22vw repeat(7, 1fr) 22vw;
//     grid-template-rows: 10vh repeat(7, 1fr) 10vh;
//     opacity: .5;

//     @for $i from 0 through 3 {
//         .blurs:nth-child(#{($i + 1)}) {
//             grid-row:($i + 2) / span (7 - 2 * $i);
//             grid-column:($i + 2) / span (7 - 2 * $i);
//             backdrop-filter:blur(.5px + ($i * .5px));
//         }
//     }
    
//     .vortex {
//         background-image: url('../../../divers/img/7.gif');
//         background-size:cover;
//         background-position: center;
//         border-radius: 50%;
//         box-shadow:
//             inset 10px 10px 5px rgba(15, 17, 20, 0.25),
//             inset -10px 10px 5px rgba(15, 17, 20, 0.25),
//             inset 10px -10px 5px rgba(15, 17, 20, 0.25),
//             inset -10px -10px 5px rgba(15, 17, 20, 0.25),
//             inset 5px 5px 6px rgba(15, 19, 25, 0.75),
//             inset -5px 5px 6px rgba(15, 19, 25, 0.75),
//             inset 5px -5px 6px rgba(15, 19, 25, 0.75),
//             inset -5px -5px 6px rgba(15, 19, 25, 0.75),
//             5px 5px 6px 6px rgba(15, 21, 30, 0.5),
//             -5px 5px 6px 6px rgba(15, 21, 30, 0.5),
//             5px -5px 6px 6px rgba(15, 21, 30, 0.5),
//             -5px -5px 6px 6px rgba(15, 21, 30, 0.5),
//             10px 10px 8px 10px rgba(15, 23, 35, 0.25),
//             -10px 10px 8px 10px rgba(15, 23, 35, 0.25),
//             10px -10px 8px 10px rgba(15, 23, 35, 0.25),
//             -10px -10px 8px 10px rgba(15, 23, 35, 0.25)
//         ;
//     }
// }

#waitingMenu {
    position: relative;
    grid-row:1;//1
    grid-column: 2;//1
    //height: calc(var(--menuLargeur) / 3 * 5 + 3vh);
    height: 60px;
    width: 60px;

    align-self: center;
    justify-self: center;
    transform-origin: left;
    background-repeat: no-repeat;
    background-size: contain;
    filter:hue-rotate(35deg) contrast(2);
}

nav.gauche {
    position:absolute;
    transform-style: preserve-3d;
    grid-row:2;
    grid-column: 2;
    height: 80vh;
    width: 20vw;

    display: grid;
    transform-origin: left;
    transform: rotateY(45deg) translate3d(100px, 0, 0);
}

nav.gauche ul {
    position: absolute;
    transform-style: preserve-3d;
    min-height: calc((var(--menuHauteur) * 5) + 3vh);
    width: var(--menuLargeur);
    align-self: center;
    justify-self: start;
    transform-origin: right;
    display: grid;
    row-gap: 5px;
}

nav.gauche ul li {
    position: relative;
    transform-style: preserve-3d;

    min-height: var(--menuHauteur);
    max-height: var(--menuHauteur);
    width: calc(var(--menuLargeur) - 20px);
    
    text-transform: uppercase;
    color:whitesmoke;
    background-color: var(--mainColorLight);


    display: grid;
    align-content: center;
    padding-left: 20px;
    font-size:clamp(1.5rem, 4vw, 2.5rem);
    text-shadow: 
        -0.06rem 0rem 0 rgb(148, 163, 184), 
        -0.06rem 0.05rem 0 #0f172a, 
        -0.12rem 0.025rem 0 #94a3b8, 
        -0.12rem 0.075rem 0 #0f172a, 
        -0.18rem 0.05rem 0 #94a3b8, 
        -0.18rem 0.1rem 0 #0f172a, 
        -0.24rem 0.075rem 0 #94a3b8, 
        -0.24rem 0.125rem 0 #0f172a, 
        -0.3rem 0.1rem 0 #94a3b8, 
        -0.3rem 0.15rem 0 #0f172a
    ;

    cursor: pointer;
    transition: transform 3s;

    &:hover {
        transform: translateX(50px);
    }

    &.clicked {
        transform:translate3d(0, 0, 0) rotateY(var(--menuAngle)) translateX(10000px) scale(0);
    }

    &::before {
        position: absolute;
        content: '';
        top:0;
        bottom:0;
        height: var(--menuHauteur);
        width: var(--menuProfondeur);
        background-color: var(--subColorLight);

        transform-origin: left;
        transform: rotateY(90deg);
    }

    &::after {
        position: absolute;
        content: '';
        top:0;
        bottom:0;
        height: var(--menuProfondeur);
        width: var(--menuLargeur);
        background-color: var(--subColorLight);

        transform-origin: top;
        transform: rotateX(-90deg);
    }
}

nav.gauche ul li .back {
    position: absolute;
    transform-style: preserve-3d;
    
    height: var(--menuHauteur);
    width: var(--menuLargeur);
    background-color: var(--subColorLight);

    transform-origin: left;
    transform: translate3d(0,0,calc(-1 * var(--menuProfondeur)));

    &::before {
        position: absolute;
        content: '';
        top:0;
        bottom:0;
        height: var(--menuHauteur);
        width: var(--menuProfondeur);
        background-color: var(--subColorLight);
    
        transform-origin: left;
        transform: translateX(var(--menuLargeur)) rotateY(-90deg);
    }

    &::after {
        position: absolute;
        content: '';
        top:0;
        bottom:0;
        height: var(--menuProfondeur);
        width: var(--menuLargeur);
        background-color: var(--subColorLight);

        transform-origin: top;
        transform: translateY(var(--menuHauteur)) rotateX(90deg);
    }
}

#containerView {
    visibility: visible;
    transform-style: preserve-3d;
    grid-row:2;
    grid-column: 4;
    height: 80vh;
    width: 56vw;
    // background:radial-gradient(ellipse farthest-corner,
    //     var(--blurColorIn),
    //     var(--blurColorMid) 50%,
    //     var(--blurColorOut) 100%
    // );
}

#containerView .hidden {
    display:none!important;
}

#containerView .main {
    transform-style:preserve-3d ;
    position: relative;
    z-index: 10;
    height:80vh;
    width: 56vw;
}

#APROPOS {
    background-color:rgba(0, 0, 255, 0.3);
}

#APROPOS,
#PORTFOLIO,
#CURRICULUM,
#COMPETENCES {
    visibility: visible!important;
    display: grid;
    align-content: center;
    text-align: center;
}

nav.droite {
    grid-row:2;
    grid-column: 6;
    position:relative;
    z-index: 100;
    height: 80vh;
    width:15vw;

    display: none;
    grid-template-rows: repeat(5, 10vh) 30vh;
    grid-template-columns: 1fr;
}

nav.droite ul {
    height: 80vh;
    width:15vw;

    display: grid;
    align-content: center;
    grid-template-rows: 10vh repeat(5, 12vh) 10vh;
    grid-template-columns: 1fr;
}

nav.droite ul li {
    all:initial;
    display: grid;
    align-content: center;
    min-height: 12vh;
    min-width: 15vw;
}

@for $i from 0 to 5 {
    nav.droite ul li:nth-of-type(#{($i + 1)}) {
        grid-column: 1;
        grid-row: 2 + $i;
        //background-color: hsl(($i * 50), 100%, 50%);
    }
}

nav.droite ul li .bouton-texte:not(.changementPage, .zoom), 
nav.droite ul li .bouton-texte .container-button-texte {

    align-self: center;
    cursor: pointer;

    margin:0;
    padding:0;
    min-height: 10vh;
    min-width: 12vh;

    display: grid;
    place-content: center;

    font-size: var(--rightNavFontSize);
    color: var(--mainColor3);

    // VARIABLES // 
    $iter-base: 26;
    $iter-hover: 22;
    $iter-active: 18;

    $step: .5px;

    $r-start:31;
    $r-end: 15;
    $g-start:162;
    $g-end: 23;
    $b-start:227;
    $b-end: 42;

    $shadow-base: "";
    $shadow-hover: "";
    $shadow-active: "";
    
    // PREPARATION DES OMBRES //
    @for $i from 1 through $iter-base {
      $x: $i * $step;
      $y: $i * $step * 0.75;
      $rouge: $r-end + ($r-start - $r-end) * (1 - (calc(($i - 1) / ($iter-base - 1))));
      $green: $g-end + ($g-start - $g-end) * (1 - (calc(($i - 1) / ($iter-base - 1))));
      $blue: $b-end + ($b-start - $b-end) * (1 - (calc(($i - 1) / ($iter-base - 1))));

      @if $i != 1 {
        $shadow-base: $shadow-base + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
      } @else {
        $shadow-base: inspect(0px 0px rgb(185, 232, 255)) + ", " + inspect(-1px -1px rgb(185, 232, 255)) + ", " + inspect(1px 1px rgb(185, 232, 255)) + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
      }
    }
    
    @for $i from 1 through $iter-hover {
        $x: $i * $step;
        $y: $i * $step * 0.75;
        $rouge: $r-end + ($r-start - $r-end) * (1 - (calc(($i - 1) / ($iter-hover - 1))));
        $green: $g-end + ($g-start - $g-end) * (1 - (calc(($i - 1) / ($iter-hover - 1))));
        $blue: $b-end + ($b-start - $b-end) * (1 - (calc(($i - 1) / ($iter-hover - 1))));

        @if $i != 1 {
          $shadow-hover: $shadow-hover + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
        } @else {
          $shadow-hover: inspect(0px 0px rgb(185, 232, 255)) + ", " + inspect(-1px -1px rgb(185, 232, 255)) + ", " + inspect(1px 1px rgb(185, 232, 255)) + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
        }
    }

    @for $i from 1 through $iter-active {
        $x: $i * $step;
        $y: $i * $step * 0.75;
        $rouge: $r-end + ($r-start - $r-end) * (1 - (calc(($i - 1) / ($iter-active - 1))));
        $green: $g-end + ($g-start - $g-end) * (1 - (calc(($i - 1) / ($iter-active - 1))));
        $blue: $b-end + ($b-start - $b-end) * (1 - (calc(($i - 1) / ($iter-active - 1))));

        @if $i != 1 {
          $shadow-active: $shadow-active + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
        } @else {
          $shadow-active: inspect(0px 0px rgb(185, 232, 255)) + ", " + inspect(-1px -1px rgb(185, 232, 255)) + ", " + inspect(1px 1px rgb(185, 232, 255)) + ", " + inspect($x) + " " + inspect($y) + " " + "rgb(" + inspect($rouge) + ", " + inspect($green) + ", " + inspect($blue) + ")";
        }
    }
    
    // AJOUT DES OMBRES //
    i {
        text-shadow: $shadow-base;
        transform:translate(0,0);
        transition: opacity .5s;

        &:not(.fa-arrow-rotate-right):hover {
            text-shadow: $shadow-hover;
            transform: translate(2px, 1.5px);
        }

        &:not(.fa-arrow-rotate-right):active {
            text-shadow: $shadow-active;
            transform: translate(4px, 3px);
        }
    }

    i:hover:not(.fa-arrow-rotate-right) {
        text-shadow: $shadow-hover;
        transform: translate(2px, 1.5px);
    }

    i:active:not(.fa-arrow-rotate-right) {
        text-shadow: $shadow-active;
        transform: translate(4px, 3px);
    }

    &:not(.anim, .closed) .fa-arrow-rotate-right:hover {
        transform: rotate(15deg);
    }

    &.anim .fa-arrow-rotate-right:hover {
        cursor: not-allowed;
    }
}

#rotationStandIcon.open {
    &.anim {
        animation: iconTurn 5s linear infinite;
    }
}

.bouton-texte.changementPage,
.bouton-texte.zoom {
    display:flex!important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .container-button-texte {
        min-width:calc(2 * var(--rightNavFontSize))!important;
    }

    .container-button-texte.pagePrecedente {
        transform: rotateY(-180deg);
    }
}

#infosSup {
    cursor:help!important;
}

#openBook {
    i {
        align-self: center;
        justify-self: center;
        position: absolute;
    }

    .fa-book {//Icone livre fermé
        z-index: 110;
    }

    .fa-book-open {//Icone livre ouvert
        opacity: 0;
        z-index: 100;
    }

    &.closed .fa-book {
        opacity: 0;
    }
      
    &.closed .fa-book-open {
        opacity: 1;
    }
}

#openStandIcon {
    transform: rotate(-45deg);
    i {
        align-self: center;
        justify-self: center;
        position: absolute;
    }

    .fa-down-left-and-up-right-to-center {//Icone compress
        z-index: 110;
    }

    .fa-up-right-and-down-left-from-center {//Icone expand
        opacity: 0;
        z-index: 100;
    }

    &.closed .fa-down-left-and-up-right-to-center {
        opacity: 0;
    }
      
    &.closed .fa-up-right-and-down-left-from-center {
        opacity: 1;
    }
}

// A LA FIN //
html body #containerHUD nav.droite ul li {
    > * {
        position: absolute;
        align-self: center;
        justify-self: center;
        //z-index: 10;
        visibility: hidden;
    }
}

// MODAL //
#modal {
    display:none;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    height:100vh;
    width:100vw;
}

#backgroundModal {
    position: absolute;
    z-index: 500;
    height:100vh;
    width:100vw;
    background-color:var(--subColorLight);
    backdrop-filter: blur(2px);
    cursor:crosshair;
}

#containerModal {
    position: absolute;
    z-index: 600;
    top:15vh;
    left:15vw;
    padding:20px;
    height:70vh;
    width:calc(70vw - 20px);
    background-color:var(--mainColor3);
    overflow: scroll;

    h1 {
        font-size:clamp(2rem, 3vw, 3rem);

    }
    h3 {
        font-size:clamp(1.5rem, 2.5vw, 2.5rem);

    }
    p {
        font-size:clamp(1rem, 2.2vw, 2rem);
    }
}   