:root {
    --longueur:45vh; // Entre 10vh et 80vh
    --largeur:calc(12/21 * (var(--longueur)));
    --epaisseur:calc(2/21 * (var(--longueur)));
    --hauteur:calc(24/21 * (var(--longueur)));

    --faceColor:rgba(15, 15, 15, 1);
    --sideColorIn:#148989;
    --sideColorOut1:#05e2e2;
    --sideColorOut2:#0ef4f4;
    --sideColorOut3:#26fafa;
    --offset:3px;
    --mainColor1:rgba(5, 226, 226, 0.5);
    --mainColor2:rgba(5, 226, 226, 0.2);
    --mainColor3:rgba(5, 226, 226, 0.75);
    --mainColor4:rgb(38, 250, 250, 0.95);
}

html, body {
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    label, input {
        all:initial;
    }
}

body {
    perspective: 1000px;
    perspective-origin: center 66%;
}

#background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    background: url('../../../divers/img/back.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    opacity: .8;
    filter: blur(.5px);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 15px rgba(15, 15, 15, 0.25) inset;   
}

#apparitionBox {
    position: absolute;
    z-index: 10;
    width:calc(1.15 * var(--longueur));
    height: calc(1.15 * var(--longueur));
    top:calc(200% / 3 + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-sizing: border-box;
    border-left: 15px solid var(--faceColor);
    border-right: 15px solid var(--faceColor);
    border-radius: 10px 10px 0 0;
}

#teleport {
    position: absolute;
    transform-style: preserve-3d;
    width:calc(1.15 * var(--longueur));
    overflow: visible;
    height: calc(1.15 * var(--longueur));
    background: url('../../../divers/img/giphy.gif');
    filter:hue-rotate(310deg) brightness(2.5);
    background-size:contain;
    display:grid;
    top:calc(70vh + (var(--longueur) - 10vh) * 3 / 7);
    left: 50%;
    transform: translate(-50%, -50%)  rotate(90deg) rotateZ(0deg);
}

.bloc.bottom, 
.bloc.top {
    position: absolute;
    justify-self: center;
    transform-style: preserve-3d;
    width:var(--longueur);
    height: calc(1.15 * var(--longueur));
    //background-color: var(--mainColor2);
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.bloc.bottom, 
.bloc.top { //FACES
    .face {
        position: absolute;
        transform-style: preserve-3d;
        justify-self:center;
        align-self: center;
        background-color: var(--faceColor);

        &::before {
            position: absolute;
            content:'';
            transform: rotate(60deg);
            background-color: var(--faceColor);
        }

        &::after {
            position: absolute;
            content:'';
            transform: rotate(120deg);
            background-color: var(--faceColor);
        }
    }

    .face.bottom.up, .face.top.up {
        transform: translateZ(var(--epaisseur));
    }
    .face.bottom.down, .face.top.down {
        transform: translateZ(0);
        display: grid;
    }

    .face.top.down::before {  
        z-index: 2;  
        background-image: url('../../../divers/img/bzzt.gif');
        background-position: center;
        background-size:cover;
    }
}

.bloc.bottom, 
.bloc.top { //SIDES
    .side {
        position: absolute;
        transform-style: preserve-3d;
        align-self: center;
        justify-self: center;
        z-index: 2;
        height: var(--largeur);
        background: radial-gradient(var(--sideColorIn), var(--sideColorOut1));
        transition: width 1s;

        &::before {
            position: absolute;
            content:'';
            height: var(--largeur);
            background: radial-gradient(var(--sideColorIn), var(--sideColorOut1));
        }

        &::after {
            position: absolute;
            content:'';
            height: var(--largeur);
            background: radial-gradient(var(--sideColorIn), var(--sideColorOut1));
        }
    }

    .side.left {
        transform-origin: right;           
        transform:rotate(0deg) translateX(calc(-.5 * var(--longueur) - .5 * var(--epaisseur) + 1px)) rotateY(90deg); //
    }
    .side.right {
        transform-origin: left;           
        transform:rotate(0deg) translateX(calc(.5 * var(--longueur) + .5 * var(--epaisseur) - 1px)) rotateY(-90deg); //
    }

    .side.left::before {
        transform-origin: bottom;
        transform: translateY(-100%) rotateX(-60deg);
    }
    .side.left::after {
        transform-origin: top;
        transform: translateY(100%) rotateX(60deg);      
    }
    .side.right::before {
        transform-origin: bottom;
        transform: translateY(-100%) rotateX(-60deg);    
    }
    .side.right::after {
        transform-origin: top;
        transform:  translateY(100%) rotateX(60deg);
    }
}

#doc {
    visibility: hidden;
    position: absolute;
    align-self: center;
    justify-self: center;
    width:calc(0.5656 * var(--hauteur));
    background-image:url('../../../divers/img/docFront.jpg');
    background-position:center ;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    
    opacity: .4;
    transition: opacity 1.5s;
    filter: blur(.5px);

    &:hover {
        opacity: 1;
        filter: blur(0px);
    }
}

#docBox {
    visibility: hidden;
    position: absolute;
    align-self: center;
    justify-self: center;
    width:calc(0.5656 * var(--hauteur));
    background-image:url('../../../divers/img/docBack.gif');
    background-position:center ;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

@keyframes faceBottomDown {// 0% => 8%
    0% {
        height: 0px;
        width: 0px;
    }

    8% {
        height: var(--largeur);
        width: var(--longueur);
    }
    100% {
        height: var(--largeur);
        width: var(--longueur);
    }
}

@keyframes sideBottom { // 12% => 20%
    0% {
        width:0px;    
    }
    12% {
        width:0px;      
    }
    20% {
        width: var(--epaisseur); 
    }
    100% {
        width: var(--epaisseur); 
    }
}

@keyframes faceBottomUp {// 24% => 32%
    0% {
        height: 0px;
        width: 0px;
    }
    
    24% {
        height: 0px;
        width: 0px;
    }

    32% {
        height: var(--largeur);
        width: var(--longueur);
    }
    100% {
        height: var(--largeur);
        width: var(--longueur);
    }
}

@keyframes faceBottomUpAfter {//32% => 36% & 84% => 85%
    0% {
        height: 0px;
        width: 0px;
        background-image: none;
    } 
    24% {
        height: 0px;
        width: 0px;
        background-image: none;
    }
    32% {
        height: var(--largeur);
        width: var(--longueur);
        background-image:none;
    }
    84% {
        height: var(--largeur);
        width: var(--longueur);
        background-image:none;
    }
    85% {    
        background-image: url('../../../divers/img/bzzt.gif');
        background-position: top;
        background-size: cover;
    }
    100% {    
        background-image: url('../../../divers/img/bzzt.gif');
        background-position: top;
        background-size: cover;
        height: var(--largeur);
        width: var(--longueur);
    }
}

@keyframes blocTopSide {// 36% => 42%
    0% {
        width:0px;    
    }
    36% {
        width:0px;      
    }
    42% {
        width: var(--epaisseur); 
    }
    100% {
        width: var(--epaisseur); 
    }
}

@keyframes blocTopFace {// 36% => 42%
    0% {
        height: 0px;
        width: 0px;
    }

    36% {
        height: 0px;
        width: 0px;
    }

    42% {
        height: var(--largeur);
        width: var(--longueur);
    }
    100% {
        height: var(--largeur);
        width: var(--longueur);
    }
}

@keyframes blocTop {// 50% => 77% ; 84% => 100%
    0% {
        transform: 0;
    }

    50% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(0deg); // 0
    }
    53% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(20deg); // 20
    }
    56% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(120deg); // 2 100
    }
    59% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(260deg); // 140
    }
    62% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(540deg); // mid 280
    }
    65% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(820deg); // 280
    }
    68% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(960deg); // 2 140
    }
    71% {
        transform: 0;
        transform: translateZ(var(--epaisseur)) rotate(1060deg); // 100
    }
    74% {
        transform: translateZ(var(--epaisseur)) rotate(1083deg); // 0 20(+3)
    }
    75% {
        transform: translateZ(var(--epaisseur)) rotate(1079deg); // -4
    }
    76% {
        transform: translateZ(var(--epaisseur)) rotate(1081deg); // +2
    }
    77% {
        transform: translateZ(var(--epaisseur)) rotate(1080deg); // -1
    }
    84% {
        transform: translateZ(var(--epaisseur)) rotate(1080deg); // 
    }
    98% {
        transform: translateZ(var(--hauteur)) rotate(1080deg);
    }
    100% {
        transform: translateZ(var(--hauteur)) rotate(1080deg);
    }
}

@keyframes document {// 80% => 100%
    0% {
        transform: rotateX(-90deg) translate3d(0,calc(-50% - 1.5 * var(--epaisseur)),0);
        height: 0px;
    }
    84% {
        visibility: visible;
        transform: rotateX(-90deg) translate3d(0,calc(-50% - 1.5 * var(--epaisseur)),0);
        height: 0px;
    }
    98% {
        visibility: visible;
        transform: rotateX(-90deg) translate3d(0,calc(-50% - 1.5 * var(--epaisseur)),0);
        height:calc(0.8 * var(--hauteur));
    }
    100% {
        visibility: visible;
        transform: rotateX(-90deg) translate3d(0,calc(-50% - 1.5 * var(--epaisseur)),0);
        height:calc(0.8 * var(--hauteur));
    }
}

@keyframes rotation {
    from {
        transform: translate(-50%, -50%)  rotateX(78deg) rotateZ(0deg);
    }

    to {
        transform: translate(-50%, -50%)  rotateX(78deg) rotateZ(360deg);
    }
}

@keyframes iconTurn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

body {// CHECKBOXES
    input {
        all:initial;
        position: absolute;
        cursor: pointer;
        z-index: 10;
        height:50px;
        width:50px;
    }

    #apparition {
        visibility: hidden;
        top:10px;
        left:75px;
        background-image: url('../../../divers/img/cv.png');
        background-size: contain;
        background-repeat: no-repeat;

        &:checked {
            visibility: visible;
        }

        &:checked ~ #apparitionBox {
            width:0!important;
            height:0!important;
        }

        &:checked ~ #teleport {
            background: rgba(0, 0, 0, 0)!important;
            transform: translate(-50%, -50%)  rotateX(85deg) rotateZ(0deg);
            filter: none;
        }

        &:checked ~ #teleport .bloc.bottom .down::before,
        &:checked ~ #teleport .bloc.bottom .down::after,
        &:checked ~ #teleport .bloc.bottom .down {
            animation: faceBottomDown linear 1.1s forwards;
        }

        &:checked ~ #teleport .bloc.bottom .side::before,
        &:checked ~ #teleport .bloc.bottom .side::after,
        &:checked ~ #teleport .bloc.bottom .side {
            animation: sideBottom linear 1.1s forwards;
        }

        &:checked ~ #teleport .bloc.bottom .up::before,
        &:checked ~ #teleport .bloc.bottom .up {
            animation: faceBottomUp linear 1.1s forwards;
        }

        &:checked ~ #teleport .bloc.bottom .up::after {
            animation: faceBottomUpAfter linear 1.1s forwards;
        }
        
        &:checked ~ #teleport .bloc.top .side::before,
        &:checked ~ #teleport .bloc.top .side::after,
        &:checked ~ #teleport .bloc.top .side {
            animation: blocTopSide linear 1.1s forwards;
        }

        &:checked ~ #teleport .bloc.top .face::before,
        &:checked ~ #teleport .bloc.top .face::after,
        &:checked ~ #teleport .bloc.top .face {
            animation: blocTopFace linear 1.1s forwards;
        }

        &:checked ~ #teleport .bloc.top {
            animation: blocTop linear 1.1s forwards;
        }

        &:checked ~ #teleport #docBox,
        &:checked ~ #teleport #doc  {
            animation: document linear 1.1s forwards;
        }

        &:checked ~ #rotation {
            top:10px;
            left:10px;
            background-image: url('../../../divers/img/rotation.png');
            background-size: contain;
            background-repeat: no-repeat;
    
            &:hover {
                animation: iconTurn 10s linear infinite;
            }
    
            &:checked {
                animation: iconTurn 5s linear infinite;
            }
    
            &:checked ~ #teleport {
                animation: rotation linear 20s infinite;
            }
        }
    }
}