:root {
  --longueur:45vh;
  --largeur:calc(12/21 * (var(--longueur)));
  --epaisseur:calc(2/21 * (var(--longueur)));
  --hauteur:calc(24/21 * (var(--longueur)));
  --faceColor:rgba(15, 15, 15, 1);
  --sideColorIn:#148989;
  --sideColorOut1:#05e2e2;
  --sideColorOut2:#0ef4f4;
  --sideColorOut3:#26fafa;
  --offset:3px;
  --mainColor1:rgba(5, 226, 226, 0.5);
  --mainColor2:rgba(5, 226, 226, 0.2);
  --mainColor3:rgba(5, 226, 226, 0.75);
  --mainColor4:rgb(38, 250, 250, 0.95);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html label, html input, body label, body input {
  all: initial;
}

body {
  perspective: 1000px;
  perspective-origin: center 66%;
}

#background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: url("../../../divers/img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  filter: blur(0.5px);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 15px rgba(15, 15, 15, 0.25) inset;
}

#apparitionBox {
  position: absolute;
  z-index: 10;
  width: calc(1.15 * var(--longueur));
  height: calc(1.15 * var(--longueur));
  top: calc(66.6666666667% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-sizing: border-box;
  border-left: 15px solid var(--faceColor);
  border-right: 15px solid var(--faceColor);
  border-radius: 10px 10px 0 0;
}

#teleport {
  position: absolute;
  transform-style: preserve-3d;
  width: calc(1.15 * var(--longueur));
  overflow: visible;
  height: calc(1.15 * var(--longueur));
  background: url("../../../divers/img/giphy.gif");
  filter: hue-rotate(310deg) brightness(2.5);
  background-size: contain;
  display: grid;
  top: calc(70vh + (var(--longueur) - 10vh) * 3 / 7);
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg) rotateZ(0deg);
}

.bloc.bottom,
.bloc.top {
  position: absolute;
  justify-self: center;
  transform-style: preserve-3d;
  width: var(--longueur);
  height: calc(1.15 * var(--longueur));
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.bloc.bottom .face,
.bloc.top .face {
  position: absolute;
  transform-style: preserve-3d;
  justify-self: center;
  align-self: center;
  background-color: var(--faceColor);
}
.bloc.bottom .face::before,
.bloc.top .face::before {
  position: absolute;
  content: "";
  transform: rotate(60deg);
  background-color: var(--faceColor);
}
.bloc.bottom .face::after,
.bloc.top .face::after {
  position: absolute;
  content: "";
  transform: rotate(120deg);
  background-color: var(--faceColor);
}
.bloc.bottom .face.bottom.up, .bloc.bottom .face.top.up,
.bloc.top .face.bottom.up,
.bloc.top .face.top.up {
  transform: translateZ(var(--epaisseur));
}
.bloc.bottom .face.bottom.down, .bloc.bottom .face.top.down,
.bloc.top .face.bottom.down,
.bloc.top .face.top.down {
  transform: translateZ(0);
  display: grid;
}
.bloc.bottom .face.top.down::before,
.bloc.top .face.top.down::before {
  z-index: 2;
  background-image: url("../../../divers/img/bzzt.gif");
  background-position: center;
  background-size: cover;
}

.bloc.bottom .side,
.bloc.top .side {
  position: absolute;
  transform-style: preserve-3d;
  align-self: center;
  justify-self: center;
  z-index: 2;
  height: var(--largeur);
  background: radial-gradient(var(--sideColorIn), var(--sideColorOut1));
  transition: width 1s;
}
.bloc.bottom .side::before,
.bloc.top .side::before {
  position: absolute;
  content: "";
  height: var(--largeur);
  background: radial-gradient(var(--sideColorIn), var(--sideColorOut1));
}
.bloc.bottom .side::after,
.bloc.top .side::after {
  position: absolute;
  content: "";
  height: var(--largeur);
  background: radial-gradient(var(--sideColorIn), var(--sideColorOut1));
}
.bloc.bottom .side.left,
.bloc.top .side.left {
  transform-origin: right;
  transform: rotate(0deg) translateX(calc(-0.5 * var(--longueur) - 0.5 * var(--epaisseur) + 1px)) rotateY(90deg);
}
.bloc.bottom .side.right,
.bloc.top .side.right {
  transform-origin: left;
  transform: rotate(0deg) translateX(calc(0.5 * var(--longueur) + 0.5 * var(--epaisseur) - 1px)) rotateY(-90deg);
}
.bloc.bottom .side.left::before,
.bloc.top .side.left::before {
  transform-origin: bottom;
  transform: translateY(-100%) rotateX(-60deg);
}
.bloc.bottom .side.left::after,
.bloc.top .side.left::after {
  transform-origin: top;
  transform: translateY(100%) rotateX(60deg);
}
.bloc.bottom .side.right::before,
.bloc.top .side.right::before {
  transform-origin: bottom;
  transform: translateY(-100%) rotateX(-60deg);
}
.bloc.bottom .side.right::after,
.bloc.top .side.right::after {
  transform-origin: top;
  transform: translateY(100%) rotateX(60deg);
}

#doc {
  visibility: hidden;
  position: absolute;
  align-self: center;
  justify-self: center;
  width: calc(0.5656 * var(--hauteur));
  background-image: url("../../../divers/img/docFront.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 1.5s;
  filter: blur(0.5px);
}
#doc:hover {
  opacity: 1;
  filter: blur(0px);
}

#docBox {
  visibility: hidden;
  position: absolute;
  align-self: center;
  justify-self: center;
  width: calc(0.5656 * var(--hauteur));
  background-image: url("../../../divers/img/docBack.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

@-webkit-keyframes faceBottomDown {
  0% {
    height: 0px;
    width: 0px;
  }
  8% {
    height: var(--largeur);
    width: var(--longueur);
  }
  100% {
    height: var(--largeur);
    width: var(--longueur);
  }
}

@keyframes faceBottomDown {
  0% {
    height: 0px;
    width: 0px;
  }
  8% {
    height: var(--largeur);
    width: var(--longueur);
  }
  100% {
    height: var(--largeur);
    width: var(--longueur);
  }
}
@-webkit-keyframes sideBottom {
  0% {
    width: 0px;
  }
  12% {
    width: 0px;
  }
  20% {
    width: var(--epaisseur);
  }
  100% {
    width: var(--epaisseur);
  }
}
@keyframes sideBottom {
  0% {
    width: 0px;
  }
  12% {
    width: 0px;
  }
  20% {
    width: var(--epaisseur);
  }
  100% {
    width: var(--epaisseur);
  }
}
@-webkit-keyframes faceBottomUp {
  0% {
    height: 0px;
    width: 0px;
  }
  24% {
    height: 0px;
    width: 0px;
  }
  32% {
    height: var(--largeur);
    width: var(--longueur);
  }
  100% {
    height: var(--largeur);
    width: var(--longueur);
  }
}
@keyframes faceBottomUp {
  0% {
    height: 0px;
    width: 0px;
  }
  24% {
    height: 0px;
    width: 0px;
  }
  32% {
    height: var(--largeur);
    width: var(--longueur);
  }
  100% {
    height: var(--largeur);
    width: var(--longueur);
  }
}
@-webkit-keyframes faceBottomUpAfter {
  0% {
    height: 0px;
    width: 0px;
    background-image: none;
  }
  24% {
    height: 0px;
    width: 0px;
    background-image: none;
  }
  32% {
    height: var(--largeur);
    width: var(--longueur);
    background-image: none;
  }
  84% {
    height: var(--largeur);
    width: var(--longueur);
    background-image: none;
  }
  85% {
    background-image: url("../../../divers/img/bzzt.gif");
    background-position: top;
    background-size: cover;
  }
  100% {
    background-image: url("../../../divers/img/bzzt.gif");
    background-position: top;
    background-size: cover;
    height: var(--largeur);
    width: var(--longueur);
  }
}
@keyframes faceBottomUpAfter {
  0% {
    height: 0px;
    width: 0px;
    background-image: none;
  }
  24% {
    height: 0px;
    width: 0px;
    background-image: none;
  }
  32% {
    height: var(--largeur);
    width: var(--longueur);
    background-image: none;
  }
  84% {
    height: var(--largeur);
    width: var(--longueur);
    background-image: none;
  }
  85% {
    background-image: url("../../../divers/img/bzzt.gif");
    background-position: top;
    background-size: cover;
  }
  100% {
    background-image: url("../../../divers/img/bzzt.gif");
    background-position: top;
    background-size: cover;
    height: var(--largeur);
    width: var(--longueur);
  }
}
@-webkit-keyframes blocTopSide {
  0% {
    width: 0px;
  }
  36% {
    width: 0px;
  }
  42% {
    width: var(--epaisseur);
  }
  100% {
    width: var(--epaisseur);
  }
}
@keyframes blocTopSide {
  0% {
    width: 0px;
  }
  36% {
    width: 0px;
  }
  42% {
    width: var(--epaisseur);
  }
  100% {
    width: var(--epaisseur);
  }
}
@-webkit-keyframes blocTopFace {
  0% {
    height: 0px;
    width: 0px;
  }
  36% {
    height: 0px;
    width: 0px;
  }
  42% {
    height: var(--largeur);
    width: var(--longueur);
  }
  100% {
    height: var(--largeur);
    width: var(--longueur);
  }
}
@keyframes blocTopFace {
  0% {
    height: 0px;
    width: 0px;
  }
  36% {
    height: 0px;
    width: 0px;
  }
  42% {
    height: var(--largeur);
    width: var(--longueur);
  }
  100% {
    height: var(--largeur);
    width: var(--longueur);
  }
}
@-webkit-keyframes blocTop {
  0% {
    transform: 0;
  }
  50% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(0deg);
  }
  53% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(20deg);
  }
  56% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(120deg);
  }
  59% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(260deg);
  }
  62% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(540deg);
  }
  65% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(820deg);
  }
  68% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(960deg);
  }
  71% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(1060deg);
  }
  74% {
    transform: translateZ(var(--epaisseur)) rotate(1083deg);
  }
  75% {
    transform: translateZ(var(--epaisseur)) rotate(1079deg);
  }
  76% {
    transform: translateZ(var(--epaisseur)) rotate(1081deg);
  }
  77% {
    transform: translateZ(var(--epaisseur)) rotate(1080deg);
  }
  84% {
    transform: translateZ(var(--epaisseur)) rotate(1080deg);
  }
  98% {
    transform: translateZ(var(--hauteur)) rotate(1080deg);
  }
  100% {
    transform: translateZ(var(--hauteur)) rotate(1080deg);
  }
}
@keyframes blocTop {
  0% {
    transform: 0;
  }
  50% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(0deg);
  }
  53% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(20deg);
  }
  56% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(120deg);
  }
  59% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(260deg);
  }
  62% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(540deg);
  }
  65% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(820deg);
  }
  68% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(960deg);
  }
  71% {
    transform: 0;
    transform: translateZ(var(--epaisseur)) rotate(1060deg);
  }
  74% {
    transform: translateZ(var(--epaisseur)) rotate(1083deg);
  }
  75% {
    transform: translateZ(var(--epaisseur)) rotate(1079deg);
  }
  76% {
    transform: translateZ(var(--epaisseur)) rotate(1081deg);
  }
  77% {
    transform: translateZ(var(--epaisseur)) rotate(1080deg);
  }
  84% {
    transform: translateZ(var(--epaisseur)) rotate(1080deg);
  }
  98% {
    transform: translateZ(var(--hauteur)) rotate(1080deg);
  }
  100% {
    transform: translateZ(var(--hauteur)) rotate(1080deg);
  }
}
@-webkit-keyframes document {
  0% {
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: 0px;
  }
  84% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: 0px;
  }
  98% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: calc(0.8 * var(--hauteur));
  }
  100% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: calc(0.8 * var(--hauteur));
  }
}
@keyframes document {
  0% {
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: 0px;
  }
  84% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: 0px;
  }
  98% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: calc(0.8 * var(--hauteur));
  }
  100% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--epaisseur)), 0);
    height: calc(0.8 * var(--hauteur));
  }
}
@-webkit-keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotateX(78deg) rotateZ(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(78deg) rotateZ(360deg);
  }
}
@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotateX(78deg) rotateZ(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(78deg) rotateZ(360deg);
  }
}
@-webkit-keyframes iconTurn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes iconTurn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
body input {
  all: initial;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  height: 50px;
  width: 50px;
}
body #apparition {
  visibility: hidden;
  top: 10px;
  left: 75px;
  background-image: url("../../../divers/img/cv.png");
  background-size: contain;
  background-repeat: no-repeat;
}
body #apparition:checked {
  visibility: visible;
}
body #apparition:checked ~ #apparitionBox {
  width: 0 !important;
  height: 0 !important;
}
body #apparition:checked ~ #teleport {
  background: rgba(0, 0, 0, 0) !important;
  transform: translate(-50%, -50%) rotateX(85deg) rotateZ(0deg);
  filter: none;
}
body #apparition:checked ~ #teleport .bloc.bottom .down::before, body #apparition:checked ~ #teleport .bloc.bottom .down::after, body #apparition:checked ~ #teleport .bloc.bottom .down {
  -webkit-animation: faceBottomDown linear 1.1s forwards;
          animation: faceBottomDown linear 1.1s forwards;
}
body #apparition:checked ~ #teleport .bloc.bottom .side::before, body #apparition:checked ~ #teleport .bloc.bottom .side::after, body #apparition:checked ~ #teleport .bloc.bottom .side {
  -webkit-animation: sideBottom linear 1.1s forwards;
          animation: sideBottom linear 1.1s forwards;
}
body #apparition:checked ~ #teleport .bloc.bottom .up::before, body #apparition:checked ~ #teleport .bloc.bottom .up {
  -webkit-animation: faceBottomUp linear 1.1s forwards;
          animation: faceBottomUp linear 1.1s forwards;
}
body #apparition:checked ~ #teleport .bloc.bottom .up::after {
  -webkit-animation: faceBottomUpAfter linear 1.1s forwards;
          animation: faceBottomUpAfter linear 1.1s forwards;
}
body #apparition:checked ~ #teleport .bloc.top .side::before, body #apparition:checked ~ #teleport .bloc.top .side::after, body #apparition:checked ~ #teleport .bloc.top .side {
  -webkit-animation: blocTopSide linear 1.1s forwards;
          animation: blocTopSide linear 1.1s forwards;
}
body #apparition:checked ~ #teleport .bloc.top .face::before, body #apparition:checked ~ #teleport .bloc.top .face::after, body #apparition:checked ~ #teleport .bloc.top .face {
  -webkit-animation: blocTopFace linear 1.1s forwards;
          animation: blocTopFace linear 1.1s forwards;
}
body #apparition:checked ~ #teleport .bloc.top {
  -webkit-animation: blocTop linear 1.1s forwards;
          animation: blocTop linear 1.1s forwards;
}
body #apparition:checked ~ #teleport #docBox, body #apparition:checked ~ #teleport #doc {
  -webkit-animation: document linear 1.1s forwards;
          animation: document linear 1.1s forwards;
}
body #apparition:checked ~ #rotation {
  top: 10px;
  left: 10px;
  background-image: url("../../../divers/img/rotation.png");
  background-size: contain;
  background-repeat: no-repeat;
}
body #apparition:checked ~ #rotation:hover {
  -webkit-animation: iconTurn 10s linear infinite;
          animation: iconTurn 10s linear infinite;
}
body #apparition:checked ~ #rotation:checked {
  -webkit-animation: iconTurn 5s linear infinite;
          animation: iconTurn 5s linear infinite;
}
body #apparition:checked ~ #rotation:checked ~ #teleport {
  -webkit-animation: rotation linear 20s infinite;
          animation: rotation linear 20s infinite;
}/*# sourceMappingURL=style.css.map */